@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

a {
  font-family: 'Space Grotesk';
}

#home {
  border: none;
  text-transform: capitalize;
}

.headers_list {
  margin-top: 12px;
}

.Login_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fef9f8;
  border: 1px solid #fef9f8;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Login_section>img {
  margin: 20px;
  padding-right: 20px;
  width: 500px;
}

.Login_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  padding-left: 40px;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Login_content>h2 {
  font-family: 'Montserrat';
  margin-bottom: -10px;
  font-size: 20px;
}

.Login_content>h6 {
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 500;
}

input {
  font-family: 'Space Grotesk';
  max-width: 70%;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  border: 2px solid #ef9273;
  border-radius: 5px;
}

label {
  font-family: 'Space Grotesk';
}

#username {
  margin-bottom: 30px;
}

input:focus {
  border: 2px solid #0d0d0d;
}

.Login_content>form>label {
  font-size: 15px;
  font-weight: 500;
}

.Login_content>form>a {
  font-family: 'Space Grotesk';
  text-decoration-color: #333;
  color: #333;
  font-style: italic;
  font-size: 15px;
  font-weight: 1000;
  margin-left: 53%;
  max-width: 25%;
}

.Login_content>form>button {
  max-width: 77%;
  padding: 15px;
  font-size: 18px;
  background-color: #ef9273;
  border: 1px solid #ef9273;
  border-radius: 10px;
  font-weight: 700;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 600;
  margin-left: 20%;
}

.Login_content>p>a {
  text-decoration-color: #333;
  align-self: flex-end;
  color: #333;
  font-style: italic;
  font-size: 15px;
  font-weight: 1000;
}

.Login_content>h5 {
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 700;
  max-width: 80%;
  line-height: 1.2rem;
}

.ad_content {
  width: 40%;
}

#adtitle {
  margin-bottom: -5px;
}

#admin_img {
  width: 500px;
  height: 450px;
  pointer-events: none;
}

.dark_theme .Login_section {
  background-color: #1b1b1bd8;
  border: 1px solid #1b1b1bd8;
}

.dark_theme .Login_content>form>button {
  background-color: #353839;
  border: 1px solid #353839;
  color: white;
}

.dark_theme .Login_content>form>a {
  color: #ef9273;
  text-decoration-color: #ef9273;
}

.dark_theme input {
  border: 2px solid #353839;
}

.dark_theme .Login_content>p>a {
  color: #ef9273;
  text-decoration-color: #ef9273;
}

.dark_theme #home {
  border-bottom: none;
}

.increase_font .Login_section>img {
  width: 530px;
}

.increase_font .Login_content>h2 {
  font-size: 28px;
  margin-bottom: -20px;
}

.increase_font .Login_content>h6 {
  font-size: 22px;
}

.increase_font input {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.increase_font .Login_content>p {
  margin-left: 40px;
}

.increase_font #username {
  margin-bottom: 40px;
}

.increase_font .Login_content>form>label {
  font-size: 22px;
  margin-bottom: 5px;
}

.increase_font .Login_content>form>a {
  margin-left: 40%;
  margin-top: 20px;
  font-size: 22px;
  max-width: 50%;
}

.increase_font .user_admin_option>label {
  font-size: 22px;
}

.increase_font .Login_content>form>button {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.increase_font p {
  font-size: 22px;
  margin-left: 18%;
}

.increase_font .Login_content>p>a {
  font-size: 22px;
}

.increase_font .Login_content>h5 {
  font-size: 22px;
  line-height: 1.8rem;
}

.increase_font #adtitle {
  margin-bottom: -25px;
}

@media only screen and (max-width: 1200px) {
  input {
    max-width: 100%;
  }

  .headers_list {
    margin-top: 3px;
  }

  .increase_font .Login_content>p {
    margin-left: 30px;
  }

  .Login_content>h2 {
    font-size: 18px;
    margin-bottom: -20px;
  }

  .Login_content>form>a {
    max-width: 50%;
    margin-left: 58%;
  }

  .Login_content>form>button {
    max-width: 100%;
  }

  .Login_content>h5 {
    max-width: 100%;
    line-height: 1.8em
  }

  .increase_font .headers_list {
    margin-top: 3px;
  }

  .increase_font .Login_content>h2 {
    font-size: 23px;
    margin-bottom: -30px;
  }

  .increase_font .Login_section>img {
    width: 430px;
  }

  .increase_font p {
    margin-left: 30px;
  }

  .increase_font .Login_content>form>a {
    margin-left: 50%;
  }

  .increase_font .Login_content>h5 {
    max-width: 100%;
    line-height: 1.8em
  }

}

@media only screen and (max-width: 400px) {
  .Login_section {
    flex-direction: column-reverse;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -25px;
  }

  .Login_section>img {
    width: 320px;
    height: 250px;
    padding-left: 10px;
  }

  #admin_img {
    width: 350px;
    height: 280px;
  }

  .Login_content {
    padding-left: 0;
    width: 80%;
    font-size: 12px;
  }

  .Login_content>h2 {
    font-size: 18px;
    margin-bottom: -10px;
    width: 120%;
  }

  .Login_content>h6 {
    font-size: 12px;
  }

  .Login_content>form>label {
    font-size: 12px;
    font-weight: 500;
  }

  input {
    padding: 10px;
  }

  .Login_content>form>a {
    font-size: 12px;
    margin-left: 62%;
  }

  .user_admin_option>label {
    font-size: 12px;
  }

  .Login_content>form>button {
    font-size: 15px;
    padding: 10px;
  }

  p {
    font-size: 12px;
    margin-left: 22%;
  }

  .Login_content>p>a {
    font-size: 12px;
  }

  .Login_content>h5 {
    font-size: 11px;
  }

  .increase_font .Login_section>img {
    width: 300px;
  }

  .increase_font .Login_content>h2 {
    font-size: 22px;
    margin-bottom: -30px;
    line-height: 1.4em;
  }

  .increase_font .Login_content>h6 {
    font-size: 18px;
    line-height: 1.4em;
  }

  .increase_font .Login_section>input {
    margin-top: 10px;
  }

  .increase_font .Login_content>form>a {
    margin-left: 45%;
    max-width: 100%;
    font-size: 18px;
  }

  .increase_font p {
    font-size: 18px;
    margin-left: 0%;
  }

  .increase_font .Login_content>p {
    margin-left: 10px;
  }

  .increase_font .Login_content>p>a {
    font-size: 18px;
  }

  .increase_font .Login_content>h5 {
    font-size: 19px;
    max-width: 100%;
  }
}