@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  transition: 1s;
}

body {
  background-color: white;
  color: #0d0d0d;
  box-sizing: border-box;
  margin: 0;
  overflow-y: scroll;
  overflow-x: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
  pointer-events: none;
}

p {
  font-family: 'Nunito';
}

button {
  font-family: 'Poppins';
  background-color: #ef9273;
  border: 1px solid #ef9273;
  color: #333;
}

button:focus {
  background-color: #fef9f8;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a > button{
  font-weight: 600;
  text-decoration: none;
  color: #333;
}

.header {
  background-color: white;
}

.inside_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo>img {
  background-color: transparent;
  padding: 0;
  padding-left: 10px;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  border: 1px solid transparent;
  /* border-radius: 50%; */
}

.logo>span {
  font-family: 'Oswald';
  margin: 0;
  margin-top: -5px;
  margin-bottom: 20px;
  margin-left: 2px;
  font-size: 25px;
}

.logo {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  margin-left: 0;
}

#bars {
  display: none;
  font-size: 45px;
  color: #ef9273;
  padding-bottom: -10px;
  margin-top: 18px;
  margin-right: 15px;
  cursor: pointer;
}

#xmark {
  display: none;
  font-size: 45px;
  color: #ef9273;
  padding-bottom: -10px;
  margin-top: 18px;
  margin-right: 15px;
  cursor: pointer;
}

.headers_list {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  padding-top: 10px;
  margin-top: -2px;
}

.headers_list>li {
  list-style-type: none;
  padding: 20px;
  padding-top: 5px;
}

.header_link {
  color: #0d0d0d;
}

.headers_list>li>a {
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-decoration-color: none;
}

#home {
  text-transform: uppercase;
  border-bottom: 2px solid #ef9273;
  padding-bottom: 10px;
}

#login {
  border: 1px solid #fef9f8;
  background-color: #ef9273;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #333;
  font-size: 12px;
  font-weight: 500;
}

#sign_up {
  border: 1px solid #fef9f8;
  background-color: #ef9273;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #333;
  font-size: 12px;
  font-weight: 500;
}

#accessibility {
  border: 1px solid #ef9273;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#accessibility2 {
  border: 1px solid #ef9273;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.hamburger_menu {
  display: none;
  flex-direction: column;
  border: 1px solid #ef9273;
  background-color: #ef9273;
  margin-bottom: 50px;
  margin-top: -25px;
}

.hamburger_menu>li {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -20px;
  width: fit-content;
  font-size: 15px;
}

.hamburger_menu>li>a {
  color: #0d0d0d;
  text-decoration: none;
  text-decoration-color: none;
  font-size: 15px;
  font-weight: 900;
  padding-left: 10px;
}

.hamburger_menu>li>a:hover {
  text-transform: uppercase;
  color: #fef9f8;
  font-weight: 1000;
}

.hamburger_menu>li:hover {
  color: #fef9f8;
}

#focus {
  color: #fef9f8;
  font-weight: 1000;
}

#focus>a {
  text-transform: uppercase;
  color: #fef9f8;
  font-weight: 1000;
}

.main_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fef9f8;
  border: 1px solid #fef9f8;
  margin-top: -30px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding: 10px;
  padding-bottom: 20px;
}

.main_content>img {
  align-self: flex-end;
  padding-right: 10px;
  width: 550px;
}

.main_content>div {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-top: 10%;
}

.main_content>div>h3 {
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 1000;
  margin-bottom: 0;
}

.main_content>div>p {
  margin-left: 10px;
  font-size: 15px;
  margin-bottom: 5%;
  line-height: 1.8em;
  font-weight: 700;
  max-width: 60%;
}

.main_content>div>a>button {
  font-family: 'Poppins';
  align-self: flex-start;
  padding: 12px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 700;
}

.sub_contents {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  margin-left: 2px;
  overflow-x: visible;
  scrollbar-color: #ef9273;
}

.first_insider {
  display: flex;
  flex-direction: row;
}

.second_insider {
  display: flex;
  flex-direction: row;
}

.inside_sub_contents_container {
  display: flex;
  flex-direction: column;
  background-color: #fef9f8;
  border: 1px solid #fef9f8;
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 2px;
  border-radius: 5px;
  padding-bottom: 20px;
  max-width: 50%;
}

.inside_sub_contents_container>h3 {
  font-family: 'Montserrat';
  font-weight: 900;
  padding: 10px;
  padding-left: 20px;
  font-size: 15px;
  margin-bottom: -20px;
}

.inside_sub_contents_container>p {
  padding: 10px;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 700;
  max-width: 100%;
  line-height: 1.8em;
}

.inside_sub_contents_container>a>button {
  align-self: flex-start;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 20px;
  font-size: 12px;
  border-radius: 5px;
  font-weight: 900;
}

.inside_sub_contents_container>img {
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
}

.questions_answers {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding-bottom: 50px;
  background-color: #fef6f6;
}

.questions_answers>h4 {
  font-family: 'Montserrat';
  align-self: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}

.questions_answers_container {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ef9273;
  border: 1px solid #ef9273;
}

.questions_answers_container>h6 {
  font-family: 'Nunito';
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  word-spacing: 0.05em;
}

.questions_answers_container>h6>i {
  cursor: pointer;
}

.questions_answers_container>h6>i:last-child {
  display: none;
}

.answers_container {
  font-family: 'Poppins';
  display: none;
  align-self: center;
  width: 100%;
  padding: 15px;
  border: 1px solid #fef9f8;
  background-color: #fef9f8;
  line-height: 2.5em;
  font-size: 13px;
  font-weight: 600;

}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #fbf0f0;
  margin-bottom: 0;
}

.footer>h5 {
  font-family: 'Montserrat';
  font-size: 25px;
  margin-left: 1%;
}

.footer>ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 18%;
  margin-top: -20px;
}

.footer>ul>li {
  font-family: 'Poppins';
  align-self: center;
  list-style-type: none;
  font-size: 15px;
  font-weight: 700;
  margin-right: 15%;
}

.footer>div {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}

.footer>div>h5 {
  font-family: 'Montserrat';
  align-self: flex-end;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-right: 5%;
}

.socials {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  margin-right: 0;
  margin-left: 10%;
  padding-right: 0;
  padding-left: 25%;
  padding-bottom: 20px;
}

.socials>img {
  margin-right: 1%;
}

.socials>img:first-child {
  margin-left: 12%;
}

.open {
  background-color: #fef9f8;
}

.close {
  background-color: #ef9273;
}

.dark_theme {
  background-color: black;
  color: white;
}

.dark_theme .answers_container {
  background-color: #1b1b1bd8;
  border: none;
}

.dark_theme .header {
  background-color: black;
  color: white;
}

.dark_theme .main_content {
  background-color: #1b1b1bd8;
  border: 1px solid #1b1b1bd8;
}

.dark_theme .inside_sub_contents_container {
  background-color: #1b1b1bd8;
  border: 1px solid #1b1b1bd8;
}

.dark_theme button {
  background-color: #353839;
  border: 1px solid #353839;
  color: white;
}

.dark_theme .questions_answers {
  background-color: #1b1b1bd8;
  border: 1px solid #1b1b1bd8;
}

.dark_theme .questions_answers_container {
  background-color: #353535;
  border: 1px solid #353535;
}

.dark_theme .header_link {
  color: white;
}

.dark_theme footer {
  background-color: black;
  color: white;
}

.dark_theme #home {
  border-bottom: 2px solid #353839;
}

.dark_theme #login {
  background-color: black;
  border: 1px solid #333;
  color: #ef9273;
}

.dark_theme #sign_up {
  background-color: black;
  border: 1px solid #333;
  color: #ef9273;
}

.dark_theme #accessibility {
  border: 1px solid #353839;
}

.dark_theme #accessibility>span {
  visibility: hidden;
  position: relative;
}

.dark_theme #accessibility>span:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 2px;
  right: 2px;
  content: 'Light Mode';
  width: 150%;
}

.dark_theme #accessibility2 {
  border: 1px solid #353839;
}

.dark_theme button:focus {
  background-color: #353839;
  color: white;
  border: 1px solid #333;
  box-shadow: inset 2px 2px 5px black, inset -2px -2px 5px black;
}

.dark_theme h1>span {
  text-shadow: none;
}

.dark_theme .open {
  background-color: #1b1b1bd8;
}

.dark_theme .close {
  background-color: #353535;
}

.dark_theme #bars {
  color: white;
}

.dark_theme #xmark {
  color: white;
}

.dark_theme .hamburger_menu {
  background-color: #353839;
  border: 1px solid #353839;
}

.dark_theme .hamburger_menu>li>a {
  color: white;
}

.dark_theme #focus {
  color: #ef9273;
}

.dark_theme #focus>a {
  color: #ef9273;
}

.dark_theme .hamburger_menu>li:hover {
  color: #ef9273;
}

.dark_theme .dark_theme #bars {
  color: white;
}

.dark_theme #xmark {
  color: white;
}

.dark_theme .hamburger_menu {
  background-color: #353839;
  border: 1px solid #353839;
}

.dark_theme .hamburger_menu>li>a {
  color: white;
}

.dark_theme #focus {
  color: #ef9273;
}

.dark_theme #focus>a {
  color: #ef9273;
}

.dark_theme .hamburger_menu>li:hover {
  color: #ef9273;
}

.dark_theme .hamburger_menu>li>a:hover {
  color: #ef9273;
}

 .increase_font .logo>img {
  width: 60px;
  height: 60px;
}

.increase_font .logo>span {
  font-size: 35px;
}

.increase_font .headers_list>li>a {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.increase_font #login {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.increase_font #sign_up {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.increase_font #accessibility {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.increase_font #accessibility2 {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.increase_font #accessibility2>span {
  visibility: hidden;
  position: relative;
}

.increase_font #accessibility2>span:after {
  visibility: visible;
  position: absolute;
  content: 'Decrease Font';
  top: 0;
  left: 4px;
  right: 0;
  width: 110%;
}

.increase_font #accessibility2>b {
  visibility: hidden;
  position: relative;
}

.increase_font #accessibility2>b:after {
  visibility: visible;
  position: absolute;
  content: 'Tt';
  top: 0;
  left: 0;
  right: 0;
  width: 150%;
}

.increase_font .main_content {
  margin-top: -25px;
}

.increase_font .main_content>img {
  width: 550px;
}

.increase_font .main_content>div>h3 {
  font-size: 36px;
}

.increase_font .main_content>div>p {
  font-size: 20px;
  max-width: 80%;
}

.increase_font .main_content>div>a>button {
  font-size: 22px;
}

.increase_font .sub_contents {
  flex-direction: column;
  margin-left: 40px;
}

.increase_font .inside_sub_contents_container {
  align-items: center;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 30px;
  width: 85%;
  max-width: 45%;
}

.increase_font .inside_sub_contents_container>h3 {
  align-self: center;
  font-size: 23px;
  font-weight: 1000;
  margin-top: 25px;
}

.increase_font .inside_sub_contents_container>p {
  align-self: center;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.7em;
}

.increase_font .inside_sub_contents_container>a>button {
  align-self: center;
  font-size: 18px;
  font-weight: 600;
}

.increase_font .inside_sub_contents_container>img {
  width: 100%;
  height: 100%;
}

.increase_font .questions_answers>h4 {
  font-size: 30px;
  margin-bottom: 10px;
}

.increase_font .questions_answers_container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.increase_font .questions_answers_container>h6 {
  font-size: 20px;
}

.increase_font .answers_container {
  font-size: 18px;
  font-weight: 600;
}

.increase_font .footer>h5 {
  font-size: 30px;
}

.increase_font .footer>ul>li {
  font-size: 20px;
}

.increase_font .footer>div>h5 {
  font-size: 22px;
}

@media only screen and (max-width: 1280px) {

  .first_insider {
    width: 280%;
  }

  .second_insider {
    width: 50%;
  }

  .first_insider>div:first-child {
    width: 280%;
  }

  .first_insider>div:last-child {
    width: 280%;
    margin-left: -1px;
  }

  .second_insider>div:last-child {
    margin-left: -1px;
  }

  .second_insider>div:first-child {
    margin-left: -1px;
  }

  .inside_sub_contents_container {
    margin-right: 1%;
  }

  .inside_sub_contents_container>img {
    width: inherit;
  }

  .first_insider>div>img {
    width: 95%;
  }

  .increase_font .first_insider {
    width: 100%;
  }

  .increase_font .second_insider {
    width: 100%;
  }

  .increase_font .second_insider>div:first-child {
    margin-left: 10px;
  }

}

@media only screen and (max-width: 1200px) {
  #bars {
    display: none;
  }

  #xmark {
    display: none;
  }

  .sub_contents {
    flex-direction: column;
    overflow-x: hidden;
    margin-left: 50px;
  }

  .first_insider {
    margin-bottom: 5%;
    max-width: 100%;
  }

  .second_insider {
    margin-left: 1%;
    margin-bottom: 2%;
    max-width: 100%;
    width: 100%;
  }

  .inside_sub_contents_container {
    max-width: 40%;
    margin-right: 8%;
  }

  .inside_sub_contents_container>h3 {
    font-size: 18px;
    font-weight: 900;
  }

  .inside_sub_contents_container>p {
    font-size: 15px;
  }

  .inside_sub_contents_container>img {
    width: 100%;
  }

  .inside_sub_contents_container>button {
    align-self: center;
    margin-left: 0;
  }

  .inside_header>img {
    background-color: transparent;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    margin-left: 10px;
    width: 60px;
    height: 60px;
  }

  .logo>span {
    margin-top: 2px;
  }

  .headers_list>li {
    padding: 12px;
    margin-top: -12px;
    padding-bottom: 30px;
  }

  .main_content>img {
    width: 380px;
  }

  .main_content>div>h3 {
    font-size: 30px;
  }

  .inside_sub_contents_container>h3 {
    align-self: center;
    font-size: 18px;
  }

  .inside_sub_contents_container>p {
    align-self: center;
  }

  .increase_font #bars {
    display: block;
  }

  .increase_font #xmark {
    display: none;
  }

  .increase_font .headers_list>li>a {
    display: none;
  }

  .increase_font #accessibility {
    display: block;
    margin-top: -5px;
    font-size: 20px;
  }

  .increase_font #accessibility2 {
    display: block;
    margin-top: -5px;
    font-size: 20px;
  }

  .increase_font .hamburger_menu>li {
    padding: 20px;
  }

  .increase_font .hamburger_menu>li>a {
    font-size: 30px;
    padding: 20px;
  }

  .increase_font .hamburger_menu>li>i {
    font-size: 30px;
  }

  .increase_font .main_content>p {
    font-size: 20px;
    line-height: 2.8em;
  }

  .increase_font .main_content>img {
    width: 400px;
  }

  .increase_font .first_insider {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .increase_font .second_insider {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .increase_font .inside_sub_contents_container {
    max-width: 80%;
    margin-bottom: 40px;
  }

  .increase_font .inside_sub_contents_container>h3 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .increase_font .inside_sub_contents_container>p {
    font-size: 18px;
    line-height: 2.8em;
  }

  .increase_font .inside_sub_contents_container>button {
    font-size: 25px;
    margin-left: 10px;
    padding: 15px;
  }

  .increase_font .questions_answers>h4 {
    font-size: 35px;
  }

  .increase_font .questions_answers_container {
    align-self: flex-start;
    margin-left: 70px;
    width: 80%;
  }

  .increase_font .questions_answers_container>h6 {
    font-size: 25px;
  }

  .increase_font .answers_container {
    font-size: 12px;
    line-height: 3.8em;
  }

}

@media only screen and (max-width: 400px) {
  .header {
    margin-bottom: 10px;
  }

  #bars {
    display: block;
    font-size: 25px;
    color: #ef9273;
    padding-bottom: -10px;
    margin-top: 18px;
    margin-right: 5px;
    cursor: pointer;
  }

  #xmark {
    display: none;
    font-size: 25px;
    color: #ef9273;
    padding-bottom: -10px;
    margin-top: 18px;
    margin-right: 5px;
    cursor: pointer;
  }

  .first_insider {
    flex-direction: column;
    margin: 10px;
    max-width: 95%;
  }

  .second_insider {
    flex-direction: column;
    margin: 10px;
    width: 95%;
  }

  .inside_header>img {
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin: 0;
    margin-top: 7px;
    padding: 0;
    margin-left: 5px;
  }

  .logo>img {
    width: 30px;
    height: 30px;
  }

  .logo>span {
    font-size: 15px;
    margin-left: 1px;
    margin-top: -5px;
  }

  .headers_list {
    font-size: 8px;
    padding: 10px;
  }

  .headers_list>li {
    padding: 20px;
    padding-top: 8px;
    margin-left: -32px;
    margin-top: -10px;
  }

  .headers_list>li>a {
    display: none;
    font-size: 8px;
  }

  #accessibility {
    display: block;
    margin-top: -5px;
  }

  #accessibility2 {
    display: block;
    margin-top: -5px;
  }

  .main_content {
    flex-direction: column-reverse;
  }

  .main_content>img {
    align-self: center;
    width: 300px;
    height: 200px;
  }

  .main_content>div {
    align-items: center;
  }

  .main_content>div>h3 {
    font-size: 20px;
  }

  .main_content>div>p {
    font-size: 12px;
    margin-left: -15px;
    max-width: 80%;
    padding: 0;
  }

  .main_content>div>button {
    align-self: center;
    font-size: 13px;
    margin-bottom: 10px;
  }

  .sub_contents {
    flex-direction: column;
    overflow-x: hidden;
    margin-left: 10px;
  }

  .inside_sub_contents_container {
    margin: 15px;
    margin-bottom: 30px;
    max-width: 88.5%;
    margin-left: 5%;
  }

  .first_insider>div:last-child {
    margin-left: 5%;
  }

  .second_insider>div:last-child {
    margin-left: 5%;
  }

  .second_insider>div:first-child {
    margin-left: 5%;
  }

  .inside_sub_contents_container>h3 {
    align-self: center;
    margin-left: -5px;
    font-size: 15px;
  }

  .inside_sub_contents_container>p {
    align-self: center;
    font-size: 11px;
  }

  .inside_sub_contents_container>button {
    align-self: center;
    margin-left: -10px;
    font-size: 12px;
  }

  .inside_sub_contents_container>img {
    width: 290px;
    height: 200px;
  }

  .second_insider>div>img {
    align-self: center;
    padding: 0;
    width: 280px;
    height: 200px;
  }

  .questions_answers>h4 {
    font-size: 20px;
  }

  .questions_answers_container {
    width: 80%;
  }

  .questions_answers_container>h6 {
    align-self: flex-start;
    width: 100%;
    font-size: 11px;
    font-weight: 700;
  }

  .answers_container {
    font-size: 11px;
    font-weight: 700;
  }

  .footer>h5 {
    font-size: 15px;
  }

  .footer>ul {
    margin-left: 10%;
    margin-top: -5px;
  }

  .footer>ul>li {
    margin-right: 10%;
    font-size: 12px;
  }

  .footer>div>h5 {
    font-size: 12px;
    margin-right: 5px;
  }

  .socials {
    align-self: center;
    margin-left: 25%;
    padding-left: 25%;
    width: 10%;
  }

  .socials>img {
    width: 70%;
    padding-right: 8%;
  }

  .socials>img:first-child {
    margin-left: 10%;
  }

  .increase_font .logo>img {
    width: 40px;
    height: 40px;
  }

  .increase_font .logo>span {
    font-size: 15px;
    display: none;
  }

  .increase_font #accessibility {
    margin-left: -10px;
    margin-right: 0px;
    margin-top: 1px;
    font-size: 12px;
  }

  .increase_font #accessibility2 {
    margin-left: 0px;
    margin-right: -5px;
    font-size: 12px;
    margin-top: 1px;
  }

  .increase_font #bars {
    font-size: 25px;
    margin-right: 5px;
  }

  .increase_font #xmark {
    font-size: 25px;
    margin-right: 5px;
  }

  .increase_font .hamburger_menu>li {
    padding: 0px;
  }

  .increase_font .hamburger_menu>li>a {
    font-size: 18px;
    padding: 10px;
  }

  .increase_font .hamburger_menu>li>i {
    font-size: 20px;
    margin-right: 5px;
  }

  .increase_font .main_content {
    margin-top: -25px;
  }

  .increase_font .main_content>img {
    width: 350px;
    padding-right: 5px;
  }

  .increase_font .main_content>div>h3 {
    align-items: center;
    font-size: 25px;
  }

  .increase_font .main_content>div>p {
    font-size: 16px;
    line-height: 1.6em;
    max-width: 90%;
  }

  .increase_font .main_content>div>button {
    font-size: 18px;
  }

  .increase_font .sub_contents {
    flex-direction: column;
    margin-left: 10px;
  }

  .increase_font .first_insider {
    justify-content: flex-start;
    margin: 10px;
    margin-left: 20px;
    max-width: 95%;
  }

  .increase_font .second_insider {
    justify-content: flex-start;
    margin: 10px;
    margin-left: 20px;
    width: 95%;
  }

  .increase_font .inside_sub_contents_container>h3 {
    align-self: flex-start;
    font-size: 17px;
    margin-left: -30px;
    margin-bottom: -15px;
  }

  .increase_font .inside_sub_contents_container>p {
    align-self: flex-start;
    font-size: 14px;
    line-height: 1.5rem;
    margin-left: -30px;
    max-width: 100%;
  }

  .increase_font .inside_sub_contents_container>button {
    align-self: center;
    font-size: 17px;
    margin-left: -10px;
  }

  .increase_font .inside_sub_contents_container>img {
    width: 290px;
    height: 200px;
  }


  .increase_font .questions_answers>h4 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .increase_font .questions_answers_container {
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
  }

  .increase_font .questions_answers_container>h6 {
    font-size: 14px;
  }

  .increase_font .answers_container {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.6rem
  }

  .increase_font .footer>h5 {
    font-size: 25px;
  }

  .increase_font .footer>ul {
    align-self: flex-start;
    justify-content: flex-start;
    padding-right: 0;
    margin-left: 10px;
    width: 80%;
    max-width: 100%;
  }

  .increase_font .footer>ul>li {
    font-size: 16px;
  }

  .increase_font .footer>div>h5 {
    margin-top: 20px;
    font-size: 18px;
  }

  .increase_font .socials {
    margin-left: 5%;
    padding-left: 25%;
    width: 14%;
  }
}
