body {
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: #ffebe7b0;
}

.header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.inside_header {
  justify-content: space-between;
  margin-bottom: 0
}

.headers_list>li {
  align-self: flex-end;
  margin-top: -10px;
}

.fa-xmark {
  top: 20px;
  left: 20%;
  position: fixed;
  font-size: 20px;
  color: #0d0d0d;
}

#show {
  display: none;
  top: 20px;
  left: 20%;
  position: fixed;
  font-size: 20px;
  color: #0d0d0d;
}


.logo {
  margin-bottom: 0;
}

.logo>img {
  width: 40px;
  height: 35px;
}

.logo>span {
  display: block;
  font-size: 20px;
  margin-top: -4px;
}


#accessibility {
  font-size: 10px;
  border: 1px solid #ef9273;
}

#accessibility2 {
  font-size: 10px;
  border: 1px solid #ef9273;
}

h1>i {
  font-size: 25px;
}

h1 {
  font-size: 25px;
  font-weight: 500;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

.side_bar1 {
  top: 0;
  display: flex;
  flex-direction: column;
  width: 22%;
  position: fixed;
  background-color: #ef9273;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.side_bar1>div {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
  padding-bottom: 20px;
}

.side_bar1>div>img {
  align-self: center;
  border-radius: 90%;
  width: 65px;
  height: 65px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side_bar1>div>div {
  display: flex;
  flex-direction: column;
}

.side_bar1>div>div>h6 {
  align-self: center;
  font-size: 15px;
  margin: 0;
  margin-top: 30px;
  margin-left: 10px;
}

.side_bar1>div>div>a {
  align-self: center;
  font-size: 12px;
  text-decoration: none;
  text-decoration-color: none;
  color: #333;
  font-weight: 500;
  font-style: italic;
  margin-top: 10px;
}

.navigation {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
  margin-top: 25px;
  margin-left: -5px;
  width: 85%;
}

.navigation>li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  color: #0d0d0d;
  cursor: pointer;
}

.navigation>li>a {
  color: #0d0d0d;
  text-decoration: none;
  padding-left: 10px;
  text-transform: normal;
  font-size: 16px;
  font-weight: 1000;
  width: 100%;
  cursor: pointer;
}

#home_list {
  color: #0d0d0d;
  /* border-left: 3px solid #fef9f8;
  background-color: #be8673; */
}


#home_list>a {
  color: #0d0d0d;
}

.navigation>li:hover {
  border-left: 3px solid #fef9f8;
  background-color: #be8673;
  color: #0d0d0d;
}

.navigation>li>a:hover {
  color: #0d0d0d;
}


.content {
  display: none;
  flex-direction: column;
  margin-left: 23%;
  margin-right: 0;
  margin-top: -2%;
  margin-bottom: 5%;
  font-family: "Nunito", sans-serif;
}

.content>div>button {
  align-self: flex-end;
  margin-right: 5%;
  margin-top: 2%;
  border-radius: 10%;
  font-size: 12px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: 900;
}

content>div>button:focus {
  background-color: #fef9f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#editp {
  margin-top: 100px;
}

#edit_profile {
  cursor: pointer;
}

.fa-arrow-left {
  top: 8%;
  bottom: 8%;
  font-size: 30px;
  position: fixed;
}

#editp>div {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  padding-bottom: 20px;
}

#image_options {
  margin-top: 20px;
  margin-bottom: 10px;
}

#image_options>button {
  border: 1px solid #ef9273;
  border-radius: 5px;
  color: #333;
  padding: 10px;
}

#image_options>button:first-child {
  margin-right: 10px;
}

#editp>div>output {
  width: 300px;
  height: 300px;
  align-self: center;
  background-color: white;
  background-image: url("../images/i11.png");
  background-size: 300px 300px;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-camera {
  font-size: 60px;
  color: #ef9273;
  margin-top: -70px;
  margin-left: 220px;
  margin-bottom: 20px;
}

#editp>div>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -50px;
}

#editp>div>ul>li {
  list-style-type: none;
  margin: 10px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
}

#editp>div>h3 {
  margin-bottom: 5px;
}

#editp>div>h3>span {
  font-size: 15px;
  padding: 10px;
}

#editp>div>h3>i {
  font-size: 15px;
  padding: 10px;
}

.Home>input {
  align-self: center;
  border: 2px solid #ef9273;
  border-radius: 5px;
  padding: 15px;
  color: #0d0d0d;
  font-size: 15px;
  font-weight: 500;
  width: 50%;
  margin-bottom: 5%;
  margin-top: 2%;
}

.home_heading {
  display: flex;
  flex-direction: row;
  margin: 0;
  border-bottom: 1px solid #ef9273;
  width: 90%;
}

.headings {
  font-size: 15px;
  margin: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #0d0d0d;
  font-weight: 500;
  cursor: pointer;
}

.home_heading>a:last-child {
  margin-left: 20px;
}

.headings:hover {
  color: #0d0d0d;
}

.heading-unactive {
  color: #757575;
}

.heading-active {
  color: #0d0d0d;
  font-weight: 550;
}

.followers_post_card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ef9273;
  padding: 15px;
  padding-top: 0;
  padding-left: 5%;
  padding-bottom: 2%;
  margin-top: 10px;
  max-width: 86%;
}

.followers_post_card:first-child {
  margin-top: 2%;
}

.followers_post_card:last-child {
  border-bottom: none;
}

.followers_data {
  display: flex;
  flex-direction: row;
  max-width: 60%;
}

.followers_data>img {
  border-radius: 90%;
  width: 45px;
  height: 45px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.followers_data>h5 {
  align-self: center;
  padding: 5px;
  padding-left: 10px;
}

p {
  margin: 0;
}

.followers_story_info {
  display: flex;
  flex-direction: row;
  max-width: 80%;
}

.followers_story_info>img {
  align-self: center;
  padding: 20px;
  margin: 20px;
  padding-top: 0;
  margin-top: 0;
  padding-right: 0;
  margin-right: 0;
  width: 150px;
  height: 120px;
  border-radius: 2px;
}

.followers_story_info>div {
  margin-bottom: 30px;
}

.followers_story_engage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  max-width: 60%;
  cursor: pointer;
}

.views {
  margin-left: 5%;
  font-size: 15px;
}

.followers_story_engage>p>i {
  align-self: center;
}

.followers_story_engage>p>span {
  margin-left: 5px;
}

.followers_story_engage_icons>i>span {
  font-size: 15px;
  padding-left: 10px;
  cursor: context-menu;
}

.followers_story_engage_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-left: 20%;
}

.descriptions {
  display: none;
  margin-top: -4%;
  margin-left: -3%;
  position: absolute;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #ef9273;
  background-color: #ef9273;
  color: #333;
  font-weight: 800;
}

.descriptions>p {
  color: #333;
  font-weight: 640;
}

.descriptions>p::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ef9273 transparent transparent transparent;
}

#like {
  margin-left: -1%;
}

#report {
  margin-left: -20px;
}

#block {
  margin-left: -15px;
}

#delete {
  margin-left: -20px;
}

.fa-comment:hover #comments {
  display: block;
}

.fa-thumbs-up:hover #like {
  display: block;
}

.fa-bookmark:hover #bookmarks {
  display: block;
}

.fa-triangle-exclamation:hover #report {
  display: block;
}

.fa-ban:hover #block {
  display: block;
}

.fa-trash-can:hover #delete {
  display: block;
}

.add_comment{
  display: none;
  max-width: 80%;
  margin-top: 20px;
  align-self: center;
}

.comment{
  display: flex;
  flex-direction: column;
}

.comment>div:first-child {
  display: flex;
  flex-direction: row;
}

.comment>div>img{
  align-self: center;
  border-radius: 90%;
  width: 35px;
  height: 35px;
  margin-right: 2%;
}

.comment>div>p {
  align-self: center;
}

#users_comment {
  font-size: 13px;
  line-height: 1.5rem;
  font-weight: 400;
}

.comment_reaction{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
}

.comment_reaction > p {
  font-size: 14px;
  font-weight: 400;
  margin-right: 5%;
}

.comment_reaction > i {
  margin-right: 5%;
}

.comment_reaction > i > span {
  font-size: 13px;
  margin-left: 8px;
}

.comment_input {
  position: fixed;
  bottom: 10px;
  border: 1px solid #ef9273;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  padding: 0;
  width: 50%;
  max-width: 50%;
}

.comment_input> textarea {
  bottom: 0;
  max-width: 100%;
  width: 100%;
  border: none;
  padding-left: 12px;
  padding-top: 10px;
  margin: 0;
  resize: none;
}

.comment_input > button {
  align-self: center;
  border: none;
  background-color: transparent;
}

.comment_input > button:focus{
  box-shadow: none;
  background-color: none;
}

.add_comment>div:last-child {
  color: green;
}

.comment_reaction>i:last-child{
  display: none;
}


.add_reply{
  display: none;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
  align-self: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.reply{
  display: flex;
  flex-direction: column;
}

.reply>div {
  display: flex;
  flex-direction: row;
}

.reply>div>img{
  align-self: center;
  border-radius: 90%;
  width: 30px;
  height: 30px;
  margin-right: 2%;
}

.reply>div>h5 {
  font-size: 12px;
}

.reply>div>p {
  align-self: center;
}

#users_reply {
  font-size: 12px;
  line-height: 1.5rem;
  font-weight: 400;
}

.reply_reaction{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
}

.reply_reaction > p {
  font-size: 12px;
  font-weight: 400;
  margin-right: 5%;
}

.reply_reaction > i {
  margin-right: 5%;
}

.reply_reaction > i > span {
  font-size: 11px;
  margin-left: 8px;
}

.reply_input {
  position: fixed;
  bottom: 10px;
  border: 1px solid #ef9273;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  padding: 0;
  width: 50%;
  max-width: 50%;
}

.reply_input> textarea {
  bottom: 0;
  max-width: 100%;
  width: 100%;
  border: none;
  padding-left: 12px;
  padding-top: 10px;
  margin: 0;
  resize: none;
}

.reply_input > button {
  align-self: center;
  border: none;
  background-color: transparent;
}

.reply_input > button:focus{
  box-shadow: none;
  background-color: none;
}

.add_reply>div:last-child {
  color: green;
}

.reply_reaction>i:last-child{
  display: none;
}

.story_heading {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: -2%;
  width: 90%;
}

.story_headings {
  font-size: 18px;
  margin: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #0d0d0d;
  font-weight: 500;
  cursor: pointer;
}

.story_heading>a:last-child {
  margin-left: 20px;
}

.story_headings:hover {
  color: #0d0d0d;
}

.story_heading-unactive {
  color: #757575;
}

.story_heading-active {
  color: #0d0d0d;
  font-weight: 550;
}

.story>input {
  align-self: center;
  border: 2px solid #ef9273;
  border-radius: 5px;
  padding: 15px;
  color: #0d0d0d;
  font-size: 15px;
  font-weight: 500;
  width: 50%;
  margin-bottom: 5%;
  margin-top: 3%;
}

.story_card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ef9273;
  padding: 15px;
  padding-top: 0;
  padding-left: 8%;
  margin-top: 10px;
  max-width: 82%;
}

.story_card:last-child {
  border-bottom: none;
}

.user_data {
  display: flex;
  flex-direction: row;
  max-width: 60%;
}

.user_data>img {
  border-radius: 90%;
  width: 45px;
  height: 45px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user_data>h5 {
  align-self: center;
  padding: 5px;
  padding-left: 10px;
}

p {
  margin: 0;
}

.story_info {
  display: flex;
  flex-direction: row;
  max-width: 80%;
}

.story_info>img {
  align-self: center;
  padding: 20px;
  margin: 20px;
  padding-top: 0;
  margin-top: 0;
  padding-right: 0;
  margin-right: 0;
  width: 150px;
  height: 120px;
  border-radius: 2px;
}

.story_info>div {
  margin-bottom: 30px;
}

.story_engage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  max-width: 60%;
  cursor: pointer;
}

.views {
  width: 20%;
  margin-left: 5%;
  font-size: 15px;
}

.story_engage>p>i {
  align-self: center;
}

.story_engage>p>span {
  margin-left: 5px;
}

.story_engage_icons>i>span {
  font-size: 15px;
  padding-left: 10px;
  cursor: context-menu;
}

.story_engage_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-left: 20%;
}

#stats>h1 {
  margin-top: 10%;
}

#stats>h2 {
  font-size: 20px;
}

.stat_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  padding-right: 30px;
  margin-top: 5%;
}


.stat_row>div {
  display: flex;
  flex-direction: column-reverse;
  min-width: 30%;
  min-height: 30%;
  margin: 0;
  margin-right: 2%;
  padding: 10px;
  padding-bottom: 0;
  background-color: #ffebe7b0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-bottom: 50px;
}

.stat_row>div>h3 {
  padding: 10px;
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  color: #0d0d0d;
}

.stat_row>div>h4 {
  align-self: flex-end;
  font-size: 22px;
  font-weight: 700;
  color: #0d0d0d;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.write-post-title {
  margin-bottom: 2rem;
}

.write-post-title>input {
  width: 70%;
  display: block;
  margin: auto;
  padding: 1rem 0.5rem;
  font-size: 3rem;
  outline: none;
  background-color: inherit;

  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.write-post-body>textarea {
  width: 60%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: block;
  margin: auto;
  border: none;
  font-size: 2rem;
  resize: none;
  outline: none;
  background-color: inherit;
}

.write-post-content {
  margin-top: 2rem;
}

.publish_options {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.Login_section {
  margin-top: 5%;
}

.Login_section>img {
  width: 380px;
}

.Login_content>form {
  margin-top: 15%;
  font-weight: 700;
}

.Login_content>form>input {
  pointer-events: none;
}

::placeholder {
  color: #0d0d0d;
}

:-ms-input-placeholder {
  color: #0d0d0d;
}

::-ms-input-placeholder {
  color: #0d0d0d;
}

.Login_content>form>button {
  width: 95%;
}

.Login_content>form>button:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Login_content>h2 {
  margin-top: -10%;
  font-weight: 500;
}

.followers>ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: end;
  margin-right: 10%;
  font-size: 14px;
  font-weight: 550;
}

.followers>ul>li {
  margin: 10px;
  margin-top: 0;
  list-style-type: none;
}

.follow {
  border-bottom: 1px solid #ef9273;
}

.follow>h3 {
  font-weight: 500;
}

.follow>div {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  padding-right: 20px;
}

.follow>div>img {
  align-items: flex-start;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 2%;
}

.follow>div>p {
  align-self: center;
  margin-right: 2%;
  width: 100%;
}

.follow>div>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}

.follow>div>div>button {
  align-self: center;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 550;
}

.follow>div>button:first-child {
  margin-right: 5%;
}

.following {
  padding: 10px;
  border-bottom: 1px solid #ef9273;
}

.following>h3 {
  font-weight: 500;
}

.following>div {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  padding-right: 20px;
}

.following>div>img {
  align-items: flex-start;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 2%;
}

.following>div>p {
  align-self: center;
  margin-right: 2%;
  width: 100%;
}

.following>div>button {
  align-self: center;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 550;
}

.recommend>h3 {
  font-weight: 500;
}

.recommend {
  padding: 10px;
}

.recommend>div {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  padding-right: 20px;
}

.recommend>div>img {
  align-items: flex-start;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 2%;
}

.recommend>div>p {
  align-self: center;
  margin-right: 2%;
  width: 100%;
}

.recommend>div>button {
  align-self: center;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 550;
}

.content-active {
  display: flex;
}

.nav-active {
  border-left: 3px solid #fef9f8;
  background-color: #be8673;
  color: #0d0d0d;
}

.editp-active {
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
  color: #0d0d0d;
}

.add_comment-active{
  display: block;
}

.cloned>div:last-child>i:last-child{
  display: block;
}

.collapse {
  width: 6%;
  padding-top: -92%;
  padding-left: 5px;
}

.collapse .logo>span {
  display: none;
}

.collapse .welcome {
  margin-left: -8%;
}

.collapse .welcome>div {
  display: none;
}

.collapse .navigation {
  align-self: flex-start;
  width: 75%;
}

.collapse .navigation>li {
  flex-direction: column;
  margin-left: -10px;
  font-size: 20px;
  margin-bottom: 60%;
}

.collapse .navigation>li>i {
  align-self: center;
  font-weight: 750;
}

.collapse .navigation>li>a {
  display: none;
  font-size: 12px;
  padding: 0;
  padding-top: 5px;
  padding-left: 10px;
  font-weight: 200;
  overflow: hidden;
  word-wrap: nowrap;
  text-overflow: ellipsis;
}

.dark_theme .header {
  background-color: transparent;
}

.dark_theme .inside_header>.fa-xmark {
  color: white;
}

.dark_theme .fa-xmark {
  color: white;
}

.dark_theme #show{
  color: white;
}

.dark_theme .side_bar1 {
  background-color: #1b1b1b;
}

.dark_theme .inside_header>.fa-bars {
  color: white;
}

.dark_theme .navigation>li {
  color: white;
}

.dark_theme .navigation>li>a {
  color: white;
}

.dark_theme .navigation>li:hover {
  border-left: 3px solid #5a5f61;
  background-color: #333;
  color: white;
}

.dark_theme #edit_profile {
  color: #757575;
}

.dark_theme #home_list {
  color: white;
}

.dark_theme #home_list>a {
  color: white;
}

.dark_theme .nav-active {
  border-left: 3px solid #5a5f61;
  background-color: #333;
  color: white;
}

.dark_theme .home_heading {
  border-bottom-color: #353839;
}

.dark_theme .heading-unactive {
  color: #757575;
}

.dark_theme .heading-active {
  color: white;
}

.dark_theme .stat_row>div {
  background-color: #1b1b1bd8;
}

.dark_theme .stat_row>div>h3 {
  color: white;
}

.dark_theme .stat_row>div>h4 {
  color: white;
}

.dark_theme .write-post-body>textarea {
  color: white;
}

.dark_theme .write-post-title>input {
  color: white;
}

.dark_theme .write-post-title>input::placeholder {
  color: white;
}

.dark_theme .write-post-body>textarea::placeholder {
  color: white;
}

.dark_theme .fa-camera {
  color: #353839;
}

.dark_theme #image_options>button {
  border: 1px solid #353839;
  color: white;
}

.dark_theme .story_card {
  border-bottom: 1px solid #353839;
}

.dark_theme .story_card:last-child {
  border-bottom: none;
}

.dark_theme .follow {
  border-bottom: 1px solid #353839;
}

.dark_theme .following {
  border-bottom: 1px solid #353839;
}

.dark_theme .Home>input {
  border: 2px solid #353839;
}

.dark_theme .followers_post_card {
  border-bottom: 1px solid #353839;
}

.dark_theme .followers_post_card:last-child {
  border-bottom: none;
}

.dark_theme .descriptions {
  border: 1px solid #353839;
  background-color: #353839;
  color: white;
}

.dark_theme .descriptions>p {
  color: white;
}

.dark_theme .descriptions>p::after {
  border-color: #353839 transparent transparent transparent;
}

.dark_theme .story>input {
  border: 2px solid #353839;
}

.dark_theme .story_heading-unactive {
  color: #757575;
}

.dark_theme .story_heading-active {
  color: white;
}

.dark_theme .comment_input {
  border: 1px solid #353535;
}

.dark_theme .comment_input>button {
  color: blue;
  font-weight: 700;
  font-size: 15px;
}

.dark_theme .comment_input > button:focus{
  box-shadow: none;
  background-color: transparent;
  border: none;
}

#logo {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #collapse {
    display: none;
  }

  #show {
    display: none;
  }

  .side_bar1 {
    width: 10%;
    padding-left: 5px;
  }

  .content {
    margin-left: 15%;
  }

  .logo>span {
    display: none;
  }

  .logo>img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 10%;
  }

  .welcome {
    margin-left: -1%;
    margin-top: 10%;
  }

  .welcome>div>h6 {
    display: none;
  }

  .welcome>div>a {
    display: none;
  }

  .navigation {
    align-self: flex-start;
    width: 75%;
  }

  .navigation>li {
    flex-direction: column;
    margin-left: -8px;
    font-size: 20px;
  }

  .navigation>li>i {
    margin-bottom: 20%;
    align-self: center;
    font-weight: 750;
  }

  .navigation>li>a {
    display: none;
    font-size: 12px;
    padding: 0;
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 200;
    overflow: hidden;
    word-wrap: nowrap;
    text-overflow: ellipsis;
  }

  .headings {
    font-size: 18px;
  }

  .followers_story_engage {
    max-width: 60%;
  }

  .followers_story_engage_icons {
    width: 50%;
    margin-left: 1%;
  }

  .followers_story_engage_icons>i>span {
    padding-left: 5px;
  }

  .story_engage {
    max-width: 60%;
  }

  .story_engage_icons {
    width: 50%;
    margin-left: 1%;
  }

  .story_engage_icons>i>span {
    padding-left: 5px;
  }

  .descriptions {
    margin-top: -6%;
    margin-left: -3.5%;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
  }

  #logo {
    display: flex;
    margin-left: -10px;
    margin-top: -1px;
    margin-right: 85px;
  }

  #logo>img {
    width: 35px;
    height: 30px;
  }

  #logo>span {
    font-size: 15px;
    margin-left: 1px;
    margin-top: -5px;
  }

  .headers_list {
    padding-bottom: 0;
    padding-right: 0;
  }

  #accessibility {
    margin-left: 35px;
    margin-right: 10px;
    font-size: 8px;
  }

  #accessibility2 {
    font-size: 8px;
  }

  .Home>input {
    margin-top: -5%;
    margin-bottom: 5%;
    width: 90%;
    padding: 10px;
  }

  .side_bar1 {
    position: fixed;
    flex-direction: row-reverse;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 8%;
    border: none;
    padding: 0;
    padding-left: -10%;
  }

  .side_bar1>div:first-child {
    display: none;
  }

  .side_bar1>div>img {
    width: 35px;
    height: 35px;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 20px;
  }

  .welcome>div>h6,
  .welcome>div>a {
    display: none;
  }

  .welcome>img {
    margin-bottom: 40px;
  }

  .navigation {
    flex-direction: row;
    padding-top: 0;
    margin-top: 15px;
    margin-left: -500px;
  }

  .navigation>li {
    font-size: 15px;
    margin-right: 15px;
    padding-top: 8px;
    padding-bottom: 5px;
  }

  .navigation>li:first-child {
    margin-left: -30px;
  }

  .navigation>li>a {
    display: none;
  }

  .content {
    margin: 10px;
    margin-bottom: 25%;
  }

  .headings {
    font-size: 14px;
  }

  .followers_post_card {
    max-width: 100%;
  }

  .followers_data {
    max-width: 100%;
  }

  .followers_data>img {
    width: 35px;
    height: 35px;
    margin-top: 15px;
  }

  .followers_story_info {
    max-width: 100%;
  }

  .followers_story_info>img {
    width: 80px;
    height: 80px;
  }

  .followers_story_info>div>h2 {
    font-size: 15px;
  }

  .followers_story_info>div>p {
    font-size: 10px;
  }

  .followers_story_engage {
    max-width: 100%;
  }

  .followers_story_engage_icons {
    font-size: 13px;
    width: 80%;
    margin-left: 1%;
  }

  .followers_story_engage_icons>i>span {
    font-size: 11px;
    padding-left: 5px;
  }

  .views {
    font-size: 12px;
    width: 40%;
  }

  .descriptions {
    margin-top: -13%;
    margin-left: -8%;
  }

  #like {
    margin-left: -5%;
  }

  #bookmarks {
    margin-left: -9%;
  }

  .story_card {
    max-width: 100%;
  }

  .user_data {
    max-width: 100%;
  }

  .user_data>img {
    width: 35px;
    height: 35px;
    margin-top: 15px;
  }

  .story_info {
    max-width: 100%;
  }

  .story_info>img {
    width: 80px;
    height: 80px;
  }

  .story_info>div>h2 {
    font-size: 15px;
  }

  .story_info>div>p {
    font-size: 10px;
  }

  .story_engage {
    max-width: 100%;
  }

  .story_engage_icons {
    font-size: 13px;
    width: 80%;
    margin-left: 1%;
  }

  .story_engage_icons>i>span {
    font-size: 11px;
    padding-left: 5px;
  }

  .story_headings {
    font-size: 14px;
  }

  .story>input {
    margin-top: -5%;
    margin-bottom: 5%;
    width: 90%;
    padding: 10px;
  }

  .stat>h1 {
    font-size: 18px;
    margin-top: 0;
  }

  .stat>h2 {
    font-size: 16px;
  }

  .stat_row {
    width: inherit;
    height: inherit;
    flex-direction: row;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .stat_row>div {
    min-width: 29%;
    margin-top: 0;
    margin-bottom: -20px;
    margin-left: 0;
    margin-right: 10px;
    padding-top: 5px;
    padding-left: 8px;
  }

  .stat_row>div>h3 {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }

  .stat_row>div>h4 {
    font-size: 12px;
  }

  .followers {
    margin-top: -25px;
  }

  .followers>ul {
    margin-right: 0;
  }

  .follow>div {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
  }

  .follow>div>p {
    margin-right: 10%;
  }

  .follow>div>div {
    width: 120%;
    margin-left: 10px;
    margin-right: 0;
  }

  .follow>div>div>button {
    font-size: 12px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .follow>div>button:first-child {
    margin-right: 100px;
  }

  .follow>div>button:last-child {
    margin-left: 10%;
  }

  .following>div {
    padding-right: 0;
    padding-left: 0;
    margin-left: -10px;
  }

  .following>div>button {
    font-size: 12px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .recommend>div {
    padding-right: 0;
    padding-left: 0;
    margin-left: -10px;
  }

  .recommend>div>button {
    font-size: 12px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .write-post-title>input {
    font-size: 25px;
  }

  .write-post-body>textarea {
    font-size: 18px;
  }

  .publish_options>button {
    font-size: 8px;
  }

  .Publish {
    flex-direction: column-reverse;
  }

  .Login_section {
    margin-top: -10px;
    margin-bottom: 5%;
    overflow-x: hidden;
  }

  .Login_content {
    margin: 0;
  }
}