@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: #ffebe7b0;
}

#user_image {
  pointer-events: visible;
}

/* header section css  */
#logo {
  display: none;
}

.header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.inside_header {
  justify-content: space-between;
  margin-bottom: 0
}

.headers_list>li {
  align-self: flex-end;
  margin-top: -10px;
}

.fa-xmark {
  cursor: pointer;
  top: 20px;
  left: 23%;
  position: fixed;
  font-size: 20px;
  color: #0d0d0d;
}

#show {
  cursor: pointer;
  display: none;
  top: 20px;
  left: 22%;
  position: fixed;
  font-size: 22px;
  color: #0d0d0d;
}


.logo {
  margin-top: 25px;
  margin-bottom: 0;
}

.logo>img {
  width: 40px;
  height: 35px;
}

.logo>span {
  display: block;
  font-size: 20px;
  margin-top: -10px;
}


#accessibility {
  font-size: 10px;
  border: 1px solid #ef9273;
}

#accessibility2 {
  font-size: 10px;
  border: 1px solid #ef9273;
}

/* end of header section css  */

h1>i {
  font-family: 'Montserrat';
  font-size: 25px;
}

h1 {
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: 500;
}

h2 {
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 500;
}

h4 {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}

h5 {
  font-size: 16px;
  margin-top: 20px;
}

p {
  font-weight: 580;
}

/* nav bar section css  */
.side_bar1 {
  top: 0;
  display: flex;
  flex-direction: column;
  width: 25%;
  position: fixed;
  background-color: white;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.side_bar1>div {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
  padding-bottom: 20px;
}

.side_bar1>div>img {
  align-self: center;
  border-radius: 90%;
  width: 65px;
  height: 65px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  cursor: pointer;
}

.side_bar1>div>div {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.side_bar1>div>div>h6 {
  font-family: 'Montserrat';
  align-self: center;
  font-size: 15px;
  margin: 0;
  margin-top: 30px;
  margin-left: 10px;
}

.side_bar1>div>div>a {
  align-self: center;
  font-size: 14px;
  text-decoration: none;
  text-decoration-color: none;
  color: #333;
  font-weight: 500;
  font-style: italic;
  margin-top: 10px;
}

.navigation {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
  margin-top: 25px;
  margin-left: -5px;
  width: 85%;
}

.navigation>li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  color: #0d0d0d;
  cursor: pointer;
}

.navigation>li>a {
  color: #0d0d0d;
  text-decoration: none;
  padding-left: 10px;
  text-transform: normal;
  font-size: 16px;
  font-weight: 1000;
  width: 100%;
  cursor: pointer;
}

#home_list {
  color: #0d0d0d;
  /* border-left: 3px solid #fef9f8;
  background-color: #be8673; */
}


#home_list>a {
  color: #0d0d0d;
}

.navigation>li:hover {
  border-left: 3px solid #eca38b;
  background-color: #be8673;
  color: #0d0d0d;
}

.navigation>li>a:hover {
  color: #0d0d0d;
}

/* end of nav bar section css  */

/* content css  */
.content {
  display: none;
  flex-direction: column;
  margin-left: 26%;
  margin-right: 0;
  margin-top: -2%;
  margin-bottom: 5%;
  font-family: "Nunito", sans-serif;
}

.content>div>button {
  align-self: flex-end;
  margin-right: 5%;
  margin-top: 2%;
  border-radius: 10%;
  font-size: 12px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: 900;
}

content>div>button:focus {
  background-color: #fef9f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* end of content css  */

/* edit profile section css  */
#edit_profile {
  cursor: pointer;
}

.fa-arrow-left {
  top: 8%;
  bottom: 8%;
  font-size: 30px;
  position: fixed;
}

#image_options {
  margin-top: 20px;
  margin-bottom: 10px;
}

#image_options>button {
  border: 1px solid #ef9273;
  border-radius: 5px;
  color: #333;
  padding: 10px;
  cursor: pointer;
}

#image_options>button:first-child {
  margin-right: 10px;
}

#editp>div>output {
  width: 300px;
  height: 300px;
  align-self: center;
  background-color: white;
  background-image: url("../images/i11.png");
  background-size: 300px 300px;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-camera {
  font-size: 60px;
  color: #ef9273;
  margin-top: -70px;
  margin-left: 220px;
  margin-bottom: 20px;
}

#editp>div>ul {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 80px;
}

#editp>div>ul>li {
  list-style-type: none;
  margin: 10px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
}

#editp>div>h3 {
  margin-bottom: 5px;
}

#editp>div>h3>span {
  font-size: 15px;
  padding: 10px;
}

#editp>div>h3>i {
  font-size: 15px;
  padding: 10px;
}

#editp>div {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  padding-bottom: 20px;
}

.edit-name {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 10px;
}

.edit-about {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 10px;
}

.edit-name>label {
  align-self: center;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 600;
}

#name {
  align-self: center;
  margin: 0;
  padding: 5px;
  padding-top: 12px;
  font-size: 16px;
  font-weight: 530;
  cursor: none;
  pointer-events: none;
  border: none;
  outline: none;
  background-color: transparent;
}

.edit-name>i {
  align-self: center;
  padding-left: 20px;
  cursor: pointer;
}

.edit-name>i:last-child {
  display: none;
}

.edit-about>label {
  align-self: center;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 600;
}

#about {
  align-self: center;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: 530;
  cursor: none;
  pointer-events: none;
  border: none;
  outline: none;
  background-color: transparent;
}

.edit-about>i {
  align-self: center;
  padding-left: 20px;
  cursor: pointer;
}

.edit-about>i:last-child {
  display: none;
}

/* end of edit profile section css  */

/* home section css  */
.Home>input {
  align-self: center;
  border: 2px solid #ef9273;
  border-radius: 5px;
  padding: 15px;
  color: #0d0d0d;
  font-size: 15px;
  font-weight: 500;
  width: 50%;
  margin-bottom: 5%;
  margin-top: 2%;
}

.home_heading {
  display: flex;
  flex-direction: row;
  margin: 0;
  border-bottom: 1px solid #ef9273;
  width: 92%;
}

.headings {
  font-size: 16px;
  margin: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #0d0d0d;
  font-weight: 500;
  cursor: pointer;
}

.home_heading>a:last-child {
  margin-left: 20px;
}

.headings:hover {
  color: #0d0d0d;
}

.heading-unactive {
  color: #757575;
}

.heading-active {
  color: #0d0d0d;
  font-weight: 550;
}

.followers_post_card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ef9273;
  padding: 15px;
  padding-top: 0;
  padding-left: 5%;
  padding-bottom: 2%;
  margin-top: 10px;
  max-width: 86%;
}

.followers_post_card:first-child {
  margin-top: 2%;
}

.followers_post_card:last-child {
  border-bottom: none;
}

.followers_data {
  display: flex;
  flex-direction: row;
  max-width: 60%;
}

.followers_data>img {
  border-radius: 90%;
  width: 45px;
  height: 45px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.followers_data>h5 {
  align-self: center;
  padding: 5px;
  padding-left: 10px;
}

p {
  margin: 0;
}

.followers_story_info {
  display: flex;
  flex-direction: row;
  max-width: 80%;
}

.followers_story_info>img {
  align-self: center;
  padding: 20px;
  margin: 20px;
  padding-top: 0;
  margin-top: 0;
  padding-right: 0;
  margin-right: 0;
  width: 150px;
  height: 120px;
  border-radius: 2px;
}

.followers_story_info>div {
  margin-bottom: 30px;
}

.followers_story_engage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  max-width: 60%;
  cursor: pointer;
}

.followers_story_engage>p {
  font-weight: 600;
}

.views {
  margin-left: 5%;
  font-size: 15px;
}

.followers_story_engage>p>i {
  align-self: center;
}

.followers_story_engage>p>span {
  margin-left: 5px;
}

.followers_story_engage_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-left: 20%;
}

.followers_story_engage_icons>i>span {
  font-size: 15px;
  padding-left: 10px;
  cursor: context-menu;
}

.descriptions {
  display: none;
  margin-top: -4%;
  margin-left: -3%;
  position: absolute;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #ef9273;
  background-color: #ef9273;
  color: #333;
  font-weight: 800;
}

.descriptions>p {
  color: #333;
  font-weight: 640;
}

.descriptions>p::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ef9273 transparent transparent transparent;
}

#like {
  margin-left: -1%;
}

#report {
  margin-left: -20px;
}

#block {
  margin-left: -15px;
}

#delete {
  margin-left: -20px;
}

.fa-comment:hover #comments {
  display: block;
}

.fa-thumbs-up:hover #like {
  display: block;
}

.fa-bookmark:hover #bookmarks {
  display: block;
}

.fa-triangle-exclamation:hover #report {
  display: block;
}

.fa-ban:hover #block {
  display: block;
}

.fa-trash-can:hover #delete {
  display: block;
}

.add_comment {
  display: none;
  max-width: 80%;
  margin-top: 20px;
  align-self: center;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment>div:first-child {
  display: flex;
  flex-direction: row;
}

.comment>div>img {
  align-self: center;
  border-radius: 90%;
  width: 35px;
  height: 35px;
  margin-right: 2%;
}

.comment>div>p {
  align-self: center;
}

#users_comment {
  font-size: 13px;
  line-height: 1.5rem;
  font-weight: 400;
}

.comment_reaction {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
}

.comment_reaction>p {
  font-size: 14px;
  font-weight: 400;
  margin-right: 5%;
}

.comment_reaction>i {
  margin-right: 5%;
}

.comment_reaction>i>span {
  font-size: 13px;
  margin-left: 8px;
}

.comment_input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  padding: 0;
  width: 50%;
  max-width: 50%;
  position: fixed;
  bottom: 10px;
  border: 1px solid #ef9273;
  border-radius: 5px;
}

.comment_input>textarea {
  bottom: 0;
  max-width: 100%;
  width: 100%;
  border: none;
  padding-left: 12px;
  padding-top: 10px;
  margin: 0;
  resize: none;
}

.comment_input>button {
  align-self: center;
  border: none;
  background-color: transparent;
}

.comment_input>button:focus {
  box-shadow: none;
  background-color: none;
}

.add_comment>div:last-child {
  color: green;
}

.comment_reaction>i:last-child {
  display: none;
}


.add_reply {
  display: none;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
  align-self: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.reply {
  display: flex;
  flex-direction: column;
}

.reply>div {
  display: flex;
  flex-direction: row;
}

.reply>div>img {
  align-self: center;
  border-radius: 90%;
  width: 30px;
  height: 30px;
  margin-right: 2%;
}

.reply>div>h5 {
  font-size: 12px;
}

.reply>div>p {
  align-self: center;
}

#users_reply {
  font-size: 12px;
  line-height: 1.5rem;
  font-weight: 400;
}

.reply_reaction {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
}

.reply_reaction>p {
  font-size: 12px;
  font-weight: 400;
  margin-right: 5%;
}

.reply_reaction>i {
  margin-right: 5%;
}

.reply_reaction>i>span {
  font-size: 11px;
  margin-left: 8px;
}

.reply_input {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  padding: 0;
  width: 50%;
  max-width: 50%;
  position: fixed;
  bottom: 10px;
  border: 1px solid #ef9273;
  border-radius: 5px;
}

.reply_input>textarea {
  bottom: 0;
  max-width: 100%;
  width: 100%;
  border: none;
  padding-left: 12px;
  padding-top: 10px;
  margin: 0;
  resize: none;
}

.reply_input>button {
  align-self: center;
  border: none;
  background-color: transparent;
}

.reply_input>button:focus {
  box-shadow: none;
  background-color: none;
}

.add_reply>div:last-child {
  color: green;
}

.reply_reaction>i:last-child {
  display: none;
}

/* end of the home section css  */

/* story section css  */
.story_heading {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: -2%;
  width: 90%;
}

.story_headings {
  font-size: 18px;
  margin: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #0d0d0d;
  font-weight: 500;
  cursor: pointer;
}

.story_heading>a:last-child {
  margin-left: 20px;
}

.story_headings:hover {
  color: #0d0d0d;
}

.story_heading-unactive {
  color: #757575;
}

.story_heading-active {
  color: #0d0d0d;
  font-weight: 550;
}

.story>input {
  align-self: center;
  border: 2px solid #ef9273;
  border-radius: 5px;
  padding: 15px;
  color: #0d0d0d;
  font-size: 15px;
  font-weight: 500;
  width: 50%;
  margin-bottom: 5%;
  margin-top: 3%;
}

.story_card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ef9273;
  padding: 15px;
  padding-top: 0;
  padding-left: 8%;
  margin-top: 10px;
  max-width: 82%;
}

.story_card:last-child {
  border-bottom: none;
}

.user_data {
  display: flex;
  flex-direction: row;
  max-width: 60%;
}

.user_data>img {
  border-radius: 90%;
  width: 45px;
  height: 45px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user_data>h5 {
  align-self: center;
  padding: 5px;
  padding-left: 10px;
}

p {
  margin: 0;
}

.story_info {
  display: flex;
  flex-direction: row;
  max-width: 80%;
}

.story_info>img {
  align-self: center;
  padding: 20px;
  margin: 20px;
  padding-top: 0;
  margin-top: 0;
  padding-right: 0;
  margin-right: 0;
  width: 150px;
  height: 120px;
  border-radius: 2px;
}

.story_info>div {
  margin-bottom: 30px;
}

.story_engage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  max-width: 60%;
  cursor: pointer;
}

.followers_story_engage {
  font-weight: 600;
}

.views {
  width: 20%;
  margin-left: 5%;
  font-size: 15px;
}

.story_engage>p>i {
  align-self: center;
}

.story_engage>p>span {
  margin-left: 5px;
}

.story_engage_icons>i>span {
  font-size: 15px;
  padding-left: 10px;
  cursor: context-menu;
}

.story_engage_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-left: 20%;
}

/* end of the story section css  */

/* summary section css  */
#stats>h1 {
  margin-top: 10%;
}

#stats>h2 {
  font-size: 20px;
}

.charts-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.charts-options>li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  border: 1px solid #ef9273;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

.charts-options>li>i {
  align-self: center;
  padding-left: 8px;
}

#change-year {
  font-size: 13px;
  border: none;
  margin-left: 10px;
  margin-right: 3%;
}

#angle-up {
  display: none;
}

.charts-display-options {
  display: none;
  flex-direction: column;
  min-width: 14%;
  height: fit-content;
  top: 38%;
  bottom: 0;
  right: 10%;
  border: 1px solid #ef9273;
  background-color: #ef9273;
  border-radius: 2px;
  padding: 10px;
  position: absolute;
}

.charts-display-options>li {
  width: inherit;
  list-style-type: none;
  padding: 10px;
  color: #0d0d0d;
  font-weight: 540;
  margin: 5px;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
}

.charts-display-options>li:hover {
  background-color: #be8673;
}

#year_ended>h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#monthly>h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

canvas {
  align-self: center;
  width: 600px;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#general_chart {
  margin-left: 200px;
}

#month_chart {
  width: 800px;
  height: 800px;
  margin-left: 0px;
}

#monthly_chart {
  margin-left: 200px;
}

/* end of summary section css  */

/* followers, following and recommended followers section css  */
.followers>ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: end;
  margin-right: 10%;
  font-size: 14px;
  font-weight: 550;
}

.followers>ul>li {
  margin: 10px;
  margin-top: 0;
  list-style-type: none;
}

.follow {
  border-bottom: 1px solid #ef9273;
}

.follow>h3 {
  font-weight: 500;
}

.follow>div {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  padding-right: 20px;
}

.follow>div>img {
  align-items: flex-start;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 2%;
}

.follow>div>p {
  align-self: center;
  margin-right: 2%;
  width: 100%;
}

.follow>div>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}

.follow>div>div>button {
  align-self: center;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 550;
}

.follow>div>button:first-child {
  margin-right: 5%;
}

.following {
  padding: 10px;
  border-bottom: 1px solid #ef9273;
}

.following>h3 {
  font-weight: 500;
}

.following>div {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  padding-right: 20px;
}

.following>div>img {
  align-items: flex-start;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 2%;
}

.following>div>p {
  align-self: center;
  margin-right: 2%;
  width: 100%;
}

.following>div>button {
  align-self: center;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 550;
}

.recommend>h3 {
  font-weight: 500;
}

.recommend {
  padding: 10px;
}

.recommend>div {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  padding-right: 20px;
}

.recommend>div>img {
  align-items: flex-start;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 2%;
}

.recommend>div>p {
  align-self: center;
  margin-right: 2%;
  width: 100%;
}

.recommend>div>button {
  align-self: center;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 550;
}

/* end of followers, following and recommended followers section css  */

/* publish section css  */
.publish_heading {
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 90%;
  border-bottom: 1px solid #ef9273;
  margin-bottom: 10px;
}

.publish_headings {
  font-size: 15px;
  margin: 10px;
  /* margin-bottom: 20px; */
  text-decoration: none;
  color: #0d0d0d;
  font-weight: 550;
  cursor: pointer;
}

.publish_heading>a:last-child {
  margin-left: 20px;
}

.publish_headings:hover {
  color: #0d0d0d;
}

.publish_heading-unactive {
  color: #757575;
}

.publish_heading-active {
  color: #0d0d0d;
  font-weight: 550;
}

.publish_options {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.publish_options>button {
  align-self: flex-end;
  margin-right: 5%;
  margin-top: 2%;
  border-radius: 10%;
  font-size: 12px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: 900;
}

.write-post>h1 {
  font-weight: 500;
  font-size: 30px;
}

.write-post-title {
  margin-bottom: 2rem;
}

.write-post-title>input {
  width: 70%;
  display: block;
  margin: auto;
  padding: 1rem 0.5rem;
  font-size: 2.8rem;
  outline: none;
  background-color: inherit;
  text-transform: uppercase;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.write-post-title>input::placeholder {
  text-transform: capitalize;
}

.write-post-body>textarea {
  width: 60%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: block;
  margin: auto;
  border: none;
  font-size: 1.8rem;
  resize: none;
  outline: none;
  background-color: inherit;
}

.write-post-content {
  margin-top: 2rem;
}

.alert_container {
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 150%;
  background-color: #0000004d;
  position: absolute;
}

.scheduler {
  align-self: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
  margin-left: 150px;
  width: 50%;
  padding: 20px;
  padding-right: 0;
  background-color: #ef9273;
  border: 1px solid #ef9273;
  border-radius: 5px;
  color: #0d0d0d;
}

.scheduler>h1 {
  align-self: center;
  margin-bottom: 30px;
  margin-right: 0;
}

.scheduler>p {
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  margin-right: 0;
}

.scheduler>label {
  margin-bottom: -5px;
  font-size: 15px;
  margin-top: 20px;
  margin-right: 0;
  margin-left: 35px;
}

.scheduler>input {
  margin-left: 30px;
  width: 100%;
  max-width: 80%;
  font-size: 15px;
  margin-bottom: 20px;
  margin-right: 0;
}

.button_container {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  width: 38%;
}

.button_container>button {
  background-color: #be8673;
  border: 1px solid #be8673;
  margin-right: 10%;
  margin-top: 2%;
  border-radius: 10%;
  font-size: 12px;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: 900;
}

#set_date {
  margin-right: 50px;
}

::placeholder {
  color: #333
}

:-ms-input-placeholder {
  color: #333;
}

::-ms-input-placeholder {
  color: #333;
}

/* end of publish section css  */

/* sign out section css  */
.Login_section {
  margin-top: 5%;
}

.Login_section>img {
  width: 380px;
}

.Login_content>form {
  margin-top: 15%;
  font-weight: 700;
}

.Login_content>form>input {
  pointer-events: none;
}

.Login_content>form>button {
  max-width: 79%;
}

.Login_content>form>button:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Login_content>h2 {
  margin-top: -10%;
  font-weight: 500;
}

/* end of sign out section css  */

/* active section css  */
.content-active {
  display: flex;
}

.nav-active {
  border-left: 3px solid #eca38b;
  background-color: #be8673;
  color: #0d0d0d;
}

.editp-active {
  display: flex;
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
  color: #0d0d0d;
}

.add_comment-active {
  display: block;
}

.add_reply-active {
  display: flex;
}

#edit_info-active {
  cursor: text;
  border: none;
  padding: 0;
  padding-bottom: 5px;
  border-radius: 1px;
  border-bottom: 1px solid #ef9273;
  outline: none;
  background-color: transparent;
}

#edit_info-active:focus {
  border: none;
  border-radius: 1px;
  border-bottom: 1px solid black;
  outline: none;
}

/* end of active section css  */

.cloned>div:last-child>i:last-child {
  display: block;
}

/* collapse nav section css  */
.collapse {
  width: 8%;
  padding-top: -92%;
  padding-left: 5px;
}

.collapse .logo {
  margin-left: 8%;
}

.collapse .logo>span {
  display: none;
}

.collapse .logo>img {
  width: 50px;
  height: 50px;
}

.collapse .welcome {
  margin-left: 1%;
}

.collapse .welcome>div {
  display: none;
}

.collapse .navigation {
  align-self: flex-start;
  width: 75%;
}

.collapse .navigation>li {
  flex-direction: column;
  margin-left: -8px;
  font-size: 20px;
  margin-bottom: 60%;
}

.collapse .navigation>li>i {
  align-self: center;
  font-weight: 750;
}

.collapse .navigation>li>a {
  display: none;
  font-size: 12px;
  padding: 0;
  padding-top: 5px;
  padding-left: 10px;
  font-weight: 200;
  overflow: hidden;
  word-wrap: nowrap;
  text-overflow: ellipsis;
}

.collapse_content {
  margin-left: 12%;
}

.collapse_content #general_chart {
  margin-left: 250px;
}

.collapse_content #monthly_chart {
  margin-left: 250px;
}

/* end of collapse nav section css  */

/* dark theme section css  */
.dark_theme .header {
  background-color: transparent;
}

.dark_theme .inside_header>.fa-xmark {
  color: white;
}

.dark_theme .fa-xmark {
  color: white;
}

.dark_theme #show {
  color: white;
}

.dark_theme .side_bar1 {
  background-color: #1b1b1b;
}

.dark_theme .inside_header>.fa-bars {
  color: white;
}

.dark_theme .navigation>li {
  color: white;
}

.dark_theme .navigation>li>a {
  color: white;
}

.dark_theme .navigation>li:hover {
  border-left: 3px solid #5a5f61;
  background-color: #333;
  color: white;
}

.dark_theme #edit_profile {
  color: #757575;
}

.dark_theme .edit-name>input::placeholder {
  color: white;
}

.dark_theme .edit-about>input::placeholder {
  color: white;
}

.dark_theme #name {
  color: white;
}

.dark_theme #about {
  color: white;
}

.dark_theme #name:placeholder {
  color: white;
}

.dark_theme #about:placeholder {
  color: white;
}

.dark_theme #edit_info-active {
  border-bottom: 1px solid #ef9273;
  color: white;
}

.dark_theme #edit_info-active::placeholder {
  color: white;
}

.dark_theme #edit_info-active:focus {
  border-bottom: 1px solid white;
  color: white;
}

.dark_theme #home_list {
  color: white;
}

.dark_theme #home_list>a {
  color: white;
}

.dark_theme .nav-active {
  border-left: 3px solid #5a5f61;
  background-color: #333;
  color: white;
}

.dark_theme .home_heading {
  border-bottom-color: #353839;
}

.dark_theme .heading-unactive {
  color: #757575;
}

.dark_theme .heading-active {
  color: white;
}

.dark_theme .charts-options>li {
  border: 1px solid #353839;
}

.dark_theme .charts-display-options {
  border: 1px solid #1b1b1b;
  background-color: #1b1b1b;
}

.dark_theme .charts-display-options>li {
  color: white;
}

.dark_theme .charts-display-options>li:hover {
  background-color: #333;
}

.dark_theme .publish_heading {
  border-bottom-color: #353839;
}

.dark_theme .publish_heading-unactive {
  color: #757575;
}

.dark_theme .publish_heading-active {
  color: white;
}

.dark_theme .write-post-body>textarea {
  color: white;
}

.dark_theme .write-post-title>input {
  color: white;
}

.dark_theme .write-post-title>input::placeholder {
  color: #353839;
}

.dark_theme .write-post-body>textarea::placeholder {
  color: #353839;
}

.dark_theme .fa-camera {
  color: #353839;
}

.dark_theme #image_options>button {
  border: 1px solid #353839;
  color: white;
}

.dark_theme .story_card {
  border-bottom: 1px solid #353839;
}

.dark_theme .story_card:last-child {
  border-bottom: none;
}

.dark_theme .follow {
  border-bottom: 1px solid #353839;
}

.dark_theme .following {
  border-bottom: 1px solid #353839;
}

.dark_theme .Home>input {
  border: 2px solid #353839;
}

.dark_theme .followers_post_card {
  border-bottom: 1px solid #353839;
}

.dark_theme .followers_post_card:last-child {
  border-bottom: none;
}

.dark_theme .descriptions {
  border: 1px solid #353839;
  background-color: #353839;
  color: white;
}

.dark_theme .descriptions>p {
  color: white;
}

.dark_theme .descriptions>p::after {
  border-color: #353839 transparent transparent transparent;
}

.dark_theme .story>input {
  border: 2px solid #353839;
}

.dark_theme .story_heading-unactive {
  color: #757575;
}

.dark_theme .story_heading-active {
  color: white;
}

.dark_theme .nav-active>i {
  color: white;
}

.dark_theme .comment_input {
  border: 1px solid #353535;
}

.dark_theme .comment_input>button {
  color: blue;
  font-weight: 700;
  font-size: 15px;
}

.dark_theme .comment_input>button:focus {
  box-shadow: none;
  background-color: transparent;
  border: none;
}

.dark_theme .reply_input {
  border: 1px solid #353535;
}

.dark_theme .reply_input>button {
  color: blue;
  font-weight: 700;
  font-size: 15px;
}

.dark_theme .reply_input>button:focus {
  box-shadow: none;
  background-color: transparent;
  border: none;
}

.dark_theme .scheduler {
  color: white;
  background-color: #1b1b1b;
  border: 1px solid #1b1b1b;
}

.dark_theme .button_container>button {
  border: 1px solid #353839;
  background-color: #353839;
}

/* end of dark theme section css  */

/* increase font section css  */
.increase_font .logo>img {
  width: 50px;
  height: 50px;
}

.increase_font .logo>span {
  font-size: 30px;
}

.increase_font .fa-xmark {
  font-size: 29px;
  top: 28px;
}

.increase_font #show {
  font-size: 25px;
}

.increase_font .content {
  margin-left: 25%;
}

.increase_font h1>i {
  font-size: 30px;
}

.increase_font h1 {
  font-size: 35px;
}

.increase_font h2 {
  font-size: 29px;
}

.increase_font h2 {
  font-size: 22px;
}

.increase_font .side_bar1 {
  width: 23%;
}

.increase_font .side_bar1>div>div>h6 {
  font-size: 18px;
}

.increase_font .side_bar1>div>div>a {
  font-size: 16px;
}

.increase_font .welcome>div>h6 {
  font-size: 10px;
}

.increase_font .navigation>li {
  font-size: 22px;
  margin-bottom: 22px;
}

.increase_font .navigation>li>a {
  font-size: 22px;
  padding-left: 15px;
}

.increase_font .content>div>button {
  font-size: 18px;
}

.increase_font #image_options>button {
  font-size: 20px;
  font-weight: 540;
}

.increase_font #image_options>button:first-child {
  margin-right: 30px;
}

.increase_font #editp>h1 {
  margin-left: 2%;
}

.increase_font #editp>div>ul {
  margin-right: 50px;
}

.increase_font #editp>div>ul>li {
  font-size: 22px;
}

.increase_font #editp>div>h3>span {
  font-size: 20px;
}

.increase_font #editp>div>h3>i {
  font-size: 20px;
}

.increase_font .edit-name>label {
  font-size: 24px;
}

.increase_font #name {
  font-size: 22px;
}

.increase_font .edit-name>i {
  font-size: 20px;
}

.increase_font .edit-about>label {
  font-size: 24px;
}

.increase_font #about {
  font-size: 22px;
}

.increase_font .edit-about>i {
  font-size: 20px;
}

.increase_font .Home>input {
  font-size: 20px;
}

.increase_font .home_heading {
  width: 98%;
}

.increase_font .headings {
  font-size: 20px;
}

.increase_font .followers_post_card {
  max-width: 90%;
}

.increase_font .followers_data {
  max-width: 70%;
}

.increase_font .followers_data>img {
  width: 50px;
  height: 50px;
}

.increase_font .followers_data>h5 {
  font-size: 20px;
  margin-top: 20px;
}

.increase_font .followers_story_info {
  max-width: 90%;
}

.increase_font .followers_story_info>div>p {
  margin-left: 2%;
}

.increase_font .followers_story_info>img {
  width: 180px;
  height: 150px;
}

.increase_font .followers_story_info>div {
  margin-bottom: 50px;
}

.increase_font .followers_story_engage {
  max-width: 90%;
}

.increase_font p {
  font-size: 22px;
}

.increase_font .views {
  max-width: 50%;
  width: 35%;
  font-size: 22px;
  margin-left: 50px;
}

.increase_font .followers_story_engage_icons {
  width: 60%;
  margin-left: 5%;
}

.increase_font .followers_story_engage_icons>i {
  font-size: 22px;
}

.increase_font .followers_story_engage_icons>i>span {
  font-size: 20px;
}

.increase_font .descriptions {
  margin-top: -5%;
  margin-left: -4%;
}

.increase_font .descriptions>p {
  margin-left: 1%;
}

.increase_font #bookmarks {
  margin-left: -4.2%;
}

.increase_font #report {
  margin-left: -30px;
}

.increase_font #block {
  margin-left: -22px;
}

.increase_font #delete {
  margin-left: -30px;
}

.increase_font .comment>div>img {
  width: 45px;
  height: 45px;
}

.increase_font h5 {
  font-size: 20px;
}

.increase_font #users_comment {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.8rem;
}

.increase_font .comment_reaction>p {
  margin-left: 0;
  font-size: 22px;
}

.increase_font .comment_reaction>i {
  font-size: 22px;
}

.increase_font .comment_reaction>i>span {
  font-size: 20px;
}

.increase_font .comment_input>textarea {
  font-size: 22px;
}


.increase_font .comment_input>button {
  font-size: 22px;
}

.increase_font .reply>div>img {
  width: 40px;
  height: 40px;
}

.increase_font .reply>div>h5 {
  font-size: 18px;
}

.increase_font #users_reply {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6rem;
}

.increase_font .reply_reaction>p {
  margin-left: 0;
  font-size: 20px;
}

.increase_font .reply_reaction>i {
  font-size: 20px;
}

.increase_font .reply_reaction>i>span {
  font-size: 20px;
}

.increase_font .reply_input>textarea {
  font-size: 20px;
}

.increase_font .reply_input>button {
  font-size: 20px;
}

.increase_font .story {
  max-width: 80%;
}

.increase_font .story>input {
  font-size: 20px;
}

.increase_font .story_heading {
  width: 98%;
}

.increase_font .story_headings {
  font-size: 20px;
}

.increase_font .story_card {
  max-width: 90%;
}

.increase_font .user_data {
  max-width: 70%;
}

.increase_font .user_data>img {
  width: 50px;
  height: 50px;
}

.increase_font .user_data>h5 {
  font-size: 20px;
  margin-top: 20px;
}

.increase_font .story_info {
  max-width: 90%;
}

.increase_font .story_info>div>p {
  margin-left: 2%;
}

.increase_font .story_info>img {
  width: 180px;
  height: 150px;
}

.increase_font .story_info>div {
  margin-bottom: 50px;
}

.increase_font .story_engage {
  max-width: 90%;
}

.increase_font .story_engage_icons {
  width: 60%;
  margin-left: 5%;
}

.increase_font .story_engage_icons>i {
  font-size: 22px;
}

.increase_font .story_engage_icons>i>span {
  font-size: 20px;
}

.increase_font .charts-options>li {
  font-size: 20px;
}

.increase_font #change-year {
  font-size: 18px;
}

.increase_font .charts-display-options {
  top: 45%;
  right: 14%;
}

.increase_font .charts-display-options>li {
  font-size: 20px;
}

.increase_font .followers {
  max-width: 100%;
}

.increase_font .followers>ul {
  font-size: 20px;
}

.increase_font .follow>h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.increase_font .follow>div {
  margin-bottom: 20px;
}

.increase_font .follow>div>img {
  width: 45px;
  height: 45px;
}

.increase_font .follow>div>p {
  margin-left: 0;
}

.increase_font .follow>div>div {
  width: 45%;
}

.increase_font .follow>div>div>button {
  font-size: 18px;
}

.increase_font .follow>div>div>button:first-child {
  margin-right: 10%;
}

.increase_font .following>h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.increase_font .following>div {
  margin-bottom: 20px;
}

.increase_font .following>div>img {
  width: 45px;
  height: 45px;
}

.increase_font .following>div>p {
  margin-left: 0;
}

.increase_font .following>div>button {
  font-size: 18px;
}

.increase_font .recommend>div {
  margin-bottom: 20px;
}

.increase_font .recommend>h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.increase_font .recommend>div>img {
  width: 45px;
  height: 45px;
}

.increase_font .recommend>div>p {
  margin-left: 0;
}

.increase_font .recommend>div>button {
  font-size: 18px;
}

.increase_font .Publish {
  margin-top: 1%;
}

.increase_font .publish_headings {
  font-size: 20px;
}

.increase_font .publish_options>button {
  font-size: 18px;
}

.increase_font .write-post>h1 {
  font-size: 35px;
}

.increase_font .write-post-title>input {
  font-size: 3.3rem;
}

.increase_font .write-post-body>textarea {
  font-size: 2.3rem;
}

.increase_font .scheduler {
  margin-left: 120px;
  width: 56%;
}

.increase_font .scheduler>h1 {
  font-size: 28px;
}

.increase_font .scheduler>p {
  font-size: 22px;
}

.increase_font .scheduler>label {
  font-size: 20px;
}

.increase_font .scheduler>input {
  font-size: 20px;
}

.increase_font .button_container {
  width: 40%;
}

.increase_font .button_container>button {
  font-size: 18px;
}

.increase_font .Login_section>img {
  width: 430px;
}

.increase_font .Login_content>h2 {
  margin-top: 1.5%;
  font-size: 28px;
}

.increase_font .collapse {
  width: 6%;
}

.increase_font .collapse_content {
  margin-left: 12%;
}


@media only screen and (max-width: 1200px) {
  #collapse {
    display: none;
  }

  #show {
    display: none;
  }

  .side_bar1 {
    width: 10%;
    padding-left: 5px;
  }

  .content {
    margin-left: 15%;
  }

  .logo>span {
    display: none;
  }

  .logo>img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 10%;
  }

  .welcome {
    margin-left: -1%;
    margin-top: 10%;
  }

  .welcome>div>h6 {
    display: none;
  }

  .welcome>div>a {
    display: none;
  }

  .navigation {
    align-self: flex-start;
    width: 75%;
  }

  .navigation>li {
    flex-direction: column;
    margin-left: -8px;
    font-size: 20px;
  }

  .navigation>li>i {
    margin-bottom: 20%;
    align-self: center;
    font-weight: 750;
  }

  .navigation>li>a {
    display: none;
    font-size: 12px;
    padding: 0;
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 200;
    overflow: hidden;
    word-wrap: nowrap;
    text-overflow: ellipsis;
  }

  .headings {
    font-size: 18px;
  }

  .followers_story_engage {
    max-width: 60%;
  }

  .followers_story_engage_icons {
    width: 50%;
    margin-left: 1%;
  }

  .followers_story_engage_icons>i>span {
    padding-left: 5px;
  }

  .story_engage {
    max-width: 65%;
  }

  .story_engage_icons {
    width: 50%;
    margin-left: 1%;
  }

  .story_engage_icons>i>span {
    padding-left: 5px;
  }

  .descriptions {
    margin-top: -6%;
    margin-left: -3.5%;
  }

  .comment>div>h5 {
    font-size: 15px;
  }

  #users_comment {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .comment_input {
    bottom: 15%;
  }

  .reply>div>h5 {
    font-size: 12px;
  }

  #users_reply {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .reply_input {
    bottom: 15%;
  }

  .charts-display-options {
    top: 16%;
    right: 13%;
  }

  #general_chart {
    width: 650px;
    height: 650px;
    margin-left: 80px;
  }

  #month_chart {
    margin-left: 10px;
  }

  #monthly_chart {
    margin-left: 100px;
  }

  .scheduler {
    margin-top: 200px;
    margin-left: 100px;
    width: 60%;
    padding: 20px;
    padding-right: 0;
  }

  .scheduler>h1 {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .scheduler>p {
    margin-left: 30px;
    font-size: 16px;
  }

  .scheduler>label {
    font-size: 15px;
    margin-left: 30px;
  }

  .scheduler>input {
    font-size: 15px;
  }

  .button_container {
    margin-top: 5%;
    width: 38%;
  }

  .button_container>button {
    font-size: 12px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
  }

  #set_date {
    margin-right: 50px;
  }

  .Login_content>form>button {
    max-width: 100%;
  }

  .nav>i {
    color: gray;
  }

  .nav-active>i {
    color: black;
  }

  .increase_font .side_bar1 {
    width: 10%;
  }

  .increase_font .logo>img {
    width: 60px;
    height: 60px;
  }

  .increase_font .welcome {
    margin-bottom: 15%;
  }

  .increase_font .welcome>img {
    width: 75px;
    height: 75px;
  }

  .increase_font .navigation>li {
    font-size: 30px;
    margin-bottom: 80%;
  }

  .increase_font .content {
    margin-left: 14%;
  }

  .increase_font .followers_data>h5 {
    font-size: 22px;
  }

  .increase_font .descriptions {
    margin-top: -7%;
    margin-left: -5%;
  }

  .increase_font #like {
    margin-left: -2%;
  }

  .increase_font #bookmarks {
    margin-left: -5.5%;
  }

  .increase_font .comment>div>h5 {
    font-size: 20px;
  }

  .increase_font #users_comment {
    margin-left: 0;
    font-size: 13px;
    line-height: 1.8rem;
  }

  .increase_font #users_reply {
    margin-left: 0;
    font-size: 12px;
  }

  .increase_font .user_data>h5 {
    font-size: 22px;
  }

  .increase_font .charts-display-options {
    top: 20%;
    right: 17%;
  }

  .increase_font .scheduler {
    width: 65%;
    margin-right: 100px;
    margin-top: 250px;
  }

  .increase_font .Login_section>img {
    width: 380px;
  }

  .increase_font .Login_content {
    padding-left: 60px;
  }

}

@media only screen and (max-width: 400px) {
  .header {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    margin-top: 10px;
  }

  #logo {
    display: flex;
    margin-left: -10px;
    margin-top: -1px;
    margin-right: 85px;
  }

  #logo>img {
    width: 35px;
    height: 30px;
  }

  #logo>span {
    font-size: 15px;
    margin-left: 1px;
    margin-top: -5px;
  }

  .headers_list {
    padding-bottom: 0;
    padding-right: 0;
  }

  #accessibility {
    margin-left: 25px;
    margin-right: 10px;
    font-size: 8px;
  }

  #accessibility2 {
    font-size: 8px;
  }

  .Home>input {
    margin-top: -5%;
    margin-bottom: 5%;
    width: 90%;
    padding: 10px;
  }

  .side_bar1 {
    position: fixed;
    flex-direction: row-reverse;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 8%;
    border: none;
    padding: 0;
    padding-left: -10%;
  }

  .side_bar1>div:first-child {
    display: none;
  }

  .side_bar1>div>img {
    width: 35px;
    height: 35px;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 20px;
  }

  .welcome>div>h6,
  .welcome>div>a {
    display: none;
  }

  .welcome>img {
    margin-bottom: 40px;
  }

  .navigation {
    flex-direction: row;
    padding-top: 0;
    margin-top: 15px;
    margin-left: -500px;
  }

  .navigation>li {
    font-size: 15px;
    margin-right: 15px;
    padding-top: 8px;
    padding-bottom: 5px;
  }

  .navigation>li:first-child {
    margin-left: -30px;
  }

  .navigation>li>a {
    display: none;
  }

  .navigation>li:hover {
    border-left: none;
    background-color: transparent;
  }

  .nav>i {
    color: gray;
  }

  #followers_list {
    display: none;
  }

  .content {
    margin: 10px;
    margin-bottom: 25%;
  }


  #editp>div>output {
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
  }

  .fa-camera {
    font-size: 40px;
    margin-top: -40px;
    margin-left: 100px;
  }

  #editp>div>input {
    font-size: 12px;
  }

  #image_options>button {
    font-size: 12px;
    padding: 8px;
  }

  #editp>div>ul {
    display: none;
  }

  .edit-name>label {
    font-size: 15px;
  }

  .edit-about>label {
    font-size: 15px;
  }

  #name {
    font-size: 12px;
  }

  #about {
    font-size: 12px;
  }

  .edit-name>i {
    font-size: 12px;
  }

  .edit-about>i {
    font-size: 12px;
  }

  .headings {
    font-size: 14px;
  }

  .followers_post_card {
    max-width: 100%;
  }

  .followers_data {
    max-width: 100%;
  }

  .followers_data>img {
    width: 35px;
    height: 35px;
    margin-top: 15px;
  }

  .followers_data>h5 {
    align-self: center;
    font-size: 15px;
    margin-top: 20px;
  }

  .followers_story_info {
    max-width: 100%;
  }

  .followers_story_info>img {
    width: 80px;
    height: 80px;
  }

  .followers_story_info>div>h2 {
    font-size: 15px;
  }

  .followers_story_info>div>p {
    font-size: 10px;
  }

  .followers_story_engage {
    max-width: 100%;
  }

  .followers_story_engage_icons {
    font-size: 13px;
    width: 80%;
    margin-left: 1%;
  }

  .followers_story_engage_icons>i>span {
    font-size: 11px;
    padding-left: 5px;
  }

  .views {
    font-size: 12px;
    width: 40%;
  }

  .descriptions {
    margin-top: -13%;
    margin-left: -8%;
  }

  #like {
    margin-left: -5%;
  }

  #bookmarks {
    margin-left: -9%;
  }

  .add_comment {
    align-self: flex-start;
    max-width: 100%;
  }

  .comment>div>img {
    width: 25px;
    height: 25px;
  }

  .comment>div>h5 {
    font-size: 12px;
  }

  .comment>div>p {
    font-size: 12px;
  }

  .comment>div>i {
    font-size: 15px;
  }

  .comment>div>i>span {
    font-size: 12px;
  }

  .comment_input {
    bottom: 10%;
    width: 80%;
    max-width: 80%;
  }

  .reply>div>img {
    width: 22px;
    height: 22px;
  }

  .reply>div>h5 {
    font-size: 10px;
  }

  .reply_input {
    bottom: 10%;
    width: 70%;
    max-width: 70%;
  }

  .story_card {
    max-width: 100%;
  }

  .user_data {
    max-width: 100%;
  }

  .user_data>img {
    width: 35px;
    height: 35px;
    margin-top: 15px;
  }

  .story_info {
    max-width: 100%;
  }

  .story_info>img {
    width: 80px;
    height: 80px;
  }

  .story_info>div>h2 {
    font-size: 15px;
  }

  .story_info>div>p {
    font-size: 10px;
  }

  .story_engage {
    max-width: 100%;
  }

  .story_engage_icons {
    font-size: 13px;
    width: 80%;
    margin-left: 1%;
  }

  .story_engage_icons>i>span {
    font-size: 11px;
    padding-left: 5px;
  }

  .story_headings {
    font-size: 14px;
  }

  .story>input {
    margin-top: -5%;
    margin-bottom: 5%;
    width: 90%;
    padding: 10px;
  }

  .charts-options>li {
    font-size: 10px;
  }

  #change-year {
    font-size: 10px;
    margin-left: 5px;
  }

  .charts-display-options {
    top: 32%;
    right: 32%;
    padding: 5px;
  }

  .charts-display-options>li {
    font-size: 10px;
    padding: 5px;
  }

  #year_ended>h2 {
    font-size: 18px;
    margin-bottom: -20px;
  }

  #monthly>h2 {
    font-size: 18px;
    margin-bottom: -20px;
  }

  canvas {
    width: 320px;
    height: 320px;
  }

  #general_chart {
    width: 320px;
    height: 320px;
    margin-left: 5px;
  }

  #month_chart {
    width: 520px;
    height: 520px;
    margin-left: 0px;
  }

  #monthly_chart {
    margin-left: 0px;
  }

  .stat>h1 {
    font-size: 18px;
    margin-top: 0;
  }

  .stat>h2 {
    font-size: 16px;
  }

  .stat_row {
    width: inherit;
    height: inherit;
    flex-direction: row;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .stat_row>div {
    min-width: 29%;
    margin-top: 0;
    margin-bottom: -20px;
    margin-left: 0;
    margin-right: 10px;
    padding-top: 5px;
    padding-left: 8px;
  }

  .stat_row>div>h3 {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }

  .stat_row>div>h4 {
    font-size: 12px;
  }

  .followers {
    margin-top: -70px;
  }

  .followers>h1 {
    display: none;
  }

  .followers>ul {
    margin-right: 0;
  }

  .followers>ul>li {
    font-size: 12px;
  }

  .follow>h3 {
    font-size: 15px;
  }

  .follow>div {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
  }

  .follow>div>p {
    margin-right: 10%;
  }

  .follow>div>div {
    width: 120%;
    margin-left: 10px;
    margin-right: 0;
  }

  .follow>div>div>button {
    font-size: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .follow>div>button:first-child {
    margin-right: 100px;
  }

  .follow>div>button:last-child {
    margin-left: 10%;
  }

  .following>h3 {
    font-size: 15px;
  }

  .following>div {
    padding-right: 0;
    padding-left: 0;
    margin-left: -10px;
  }

  .following>div>button {
    font-size: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .recommend>h3 {
    font-size: 15px;
  }

  .recommend>div {
    padding-right: 0;
    padding-left: 0;
    margin-left: -10px;
  }

  .recommend>div>button {
    font-size: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .write-post-title>input {
    font-size: 25px;
  }

  .write-post-body>textarea {
    font-size: 18px;
  }

  .publish_post {
    display: flex;
    flex-direction: column-reverse;
  }

  .publish_options>button {
    font-size: 10px;
    margin-bottom: 20px;
  }

  .Login_section {
    margin-top: -10px;
    margin-bottom: 5%;
    overflow-x: hidden;
  }

  .Login_content {
    margin: 0;
  }

  .scheduler {
    align-self: flex-start;
    margin-top: 120px;
    margin-left: 20px;
    width: 85%;
    padding: 10px;
    padding-right: 0;
  }

  .scheduler>h1 {
    margin-bottom: 20px;
    margin-right: 0;
    font-size: 18px;
  }

  .scheduler>p {
    margin-left: 5px;
    font-size: 11px;
    line-height: 1.2rem;
    margin-bottom: 10px;
  }

  .scheduler>label {
    font-size: 11px;
    margin-left: 12px;
  }

  .scheduler>input {
    align-self: flex-start;
    font-size: 11px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .button_container {
    margin-top: 5%;
    width: 55%;
  }

  .button_container>button {
    font-size: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #set_date {
    margin-right: 30px;
  }

  .nav-active {
    border-left: none;
    background-color: transparent;
  }

  .nav-active>i {
    color: black;
  }

  .dark_theme .nav-active>i {
    color: white;
  }

  .dark_theme .nav-active {
    border-left: none;
    background-color: transparent;
  }

  .dark_theme .navigation>li:hover {
    border-left: none;
    background-color: transparent;
  }

  .increase_font #logo {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: 15px;
    padding: 10px;
    padding-bottom: 0;
    padding-left: 0;
  }

  .increase_font #logo>img {
    width: 40px;
    height: 35px;
    margin-left: 0;
  }

  .increase_font .content {
    margin-left: 10px;
  }

  .increase_font .headers_list {
    overflow-x: hidden;
  }

  .increase_font .headers_list>li {
    padding-left: 0;
  }

  .increase_font #dark {
    margin-left: 0px;
    margin-right: 2px;
    padding-left: 5px;
  }

  .increase_font #accessibility {
    margin-left: 0;
    margin-right: 0;
    margin-top: -5px;
  }

  .increase_font #accessibility2 {
    margin-left: 0px;
    margin-right: 5px;
    margin-top: -5px;
  }

  .increase_font #increase {
    margin-left: -5px;
    margin-right: 8px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .increase_font .Home>input {
    margin-top: -3%;
    margin-bottom: 6%;
    font-size: 18px;
  }

  .increase_font .side_bar1 {
    width: 100%;
    height: 8%;
  }

  .increase_font .side_bar1>div>img {
    width: 40px;
    height: 40px;
  }

  .increase_font .navigation>li {
    font-size: 18px;
  }

  .increase_font .edit-name {
    margin-left: -5px;
  }

  .increase_font .edit-name>label {
    font-size: 18px;
    padding-right: 5px;
    margin-left: 0;
  }

  .increase_font #name {
    font-size: 15px;
  }

  .increase_font .edit-name>i {
    font-size: 15px;
  }

  .increase_font .edit-about {
    margin-left: -5px;
  }

  .increase_font .edit-about>label {
    font-size: 18px;
    padding-right: 5px;
    margin-left: 0;
  }

  .increase_font #about {
    font-size: 15px;
  }

  .increase_font .edit-about>i {
    font-size: 15px;
  }

  .increase_font #image_options>button {
    font-size: 13px;
  }

  .increase_font .home_heading {
    width: 98%;
  }

  .increase_font .headings {
    font-size: 18px;
  }

  .increase_font .followers_post_card {
    max-width: 100%;
  }

  .increase_font .followers_data {
    max-width: 100%;
  }

  .increase_font .followers_data>img {
    width: 40px;
    height: 40px;
  }

  .increase_font .followers_data>h5 {
    font-size: 20px;
    margin-top: 18px;
  }

  .increase_font .followers_story_info {
    max-width: 100%;
  }

  .increase_font .followers_story_info>div>h2 {
    font-size: 18px;
  }

  .increase_font .followers_story_info>div>p {
    font-size: 16px;
    margin-left: 0;
  }

  .increase_font .followers_story_info>img {
    width: 90px;
    height: 90px;
  }

  .increase_font .followers_story_info>div {
    margin-bottom: 50px;
  }

  .increase_font .followers_story_engage {
    max-width: 100%;
    width: 100%;
  }

  .increase_font p {
    font-size: 14px;
    margin-left: 0;
  }

  .increase_font .views {
    max-width: 80%;
    width: 60%;
    font-size: 14px;
    margin-left: 10px;
  }

  .increase_font .followers_story_engage_icons {
    width: 85%;
    margin-left: 0;
    justify-content: space-between;
  }

  .increase_font .followers_story_engage_icons>i {
    font-size: 15px;
  }

  .increase_font .followers_story_engage_icons>i>span {
    font-size: 13px;
    margin-right: 1%;
  }

  .increase_font .descriptions {
    margin-top: -15%;
    margin-left: -9%;
  }

  .increase_font .descriptions>p {
    margin-left: 1%;
  }

  .increase_font #like {
    margin-left: -4%;
  }

  .increase_font #bookmarks {
    margin-left: -10.2%;
  }

  .increase_font #report {
    margin-left: -20px;
  }

  .increase_font #block {
    margin-left: -18px;
  }

  .increase_font #delete {
    margin-left: -20px;
  }

  .increase_font .comment>div>img {
    width: 30px;
    height: 30px;
  }

  .increase_font .comment>div>h5 {
    font-size: 16px;
  }

  .increase_font #users_comment {
    font-size: 13px;
    margin-bottom: 30px;
    line-height: 1.8rem;
  }

  .increase_font .comment_reaction>p {
    margin-left: 0;
    font-size: 15px;
  }

  .increase_font .comment_reaction>i {
    font-size: 16px;
  }

  .increase_font .comment_reaction>i>span {
    font-size: 13px;
  }

  .increase_font .comment_input>textarea {
    font-size: 18px;
  }


  .increase_font .comment_input>button {
    font-size: 18px;
  }

  .increase_font .reply>div>img {
    width: 25px;
    height: 25px;
  }

  .increase_font .reply>div>h5 {
    font-size: 14px;
  }

  .increase_font #users_reply {
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 1.6rem;
  }

  .increase_font .reply_reaction>p {
    margin-left: 0;
    font-size: 13px;
  }

  .increase_font .reply_reaction>i {
    font-size: 14px;
  }

  .increase_font .reply_reaction>i>span {
    font-size: 12px;
  }

  .increase_font .reply_input>textarea {
    font-size: 16px;
  }

  .increase_font .reply_input>button {
    font-size: 16px;
  }

  .increase_font .story {
    max-width: 100%;
  }

  .increase_font .story>input {
    font-size: 18px;
  }

  .increase_font .story_heading {
    width: 98%;
  }

  .increase_font .story_headings {
    font-size: 18px;
  }

  .increase_font .story_card {
    max-width: 100%;
  }

  .increase_font .user_data {
    max-width: 100%;
  }

  .increase_font .user_data>img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }

  .increase_font .user_data>h5 {
    font-size: 18px;
    margin-top: 18px;
  }

  .increase_font .story_info {
    max-width: 100%;
  }

  .increase_font .story_info>div>h2 {
    font-size: 18px;
    margin-left: 0;
  }

  .increase_font .story_info>div>p {
    font-size: 16px;
    margin-left: 0;
  }

  .increase_font .story_info>img {
    width: 90px;
    height: 90px;
  }

  .increase_font .story_info>div {
    margin-bottom: 50px;
  }

  .increase_font .story_engage {
    max-width: 100%;
  }

  .increase_font .story_engage_icons {
    width: 100%;
    margin-left: 0;
  }

  .increase_font .story_engage_icons>i {
    font-size: 15px;
  }

  .increase_font .story_engage_icons>i>span {
    font-size: 13px;
  }

  .increase_font .charts-options>li {
    font-size: 15px;
  }

  .increase_font #change-year {
    font-size: 13px;
  }

  .increase_font .charts-display-options {
    top: 36%;
    right: 40%;
  }

  .increase_font .charts-display-options>li {
    font-size: 13px;
  }

  .increase_font #year_ended>h2 {
    font-size: 20px;
    margin-bottom: -20px;
  }

  .increase #monthly>h2 {
    font-size: 20px;
    margin-bottom: -20px;
  }

  .increase_font .followers {
    max-width: 100%;
  }

  .increase_font .followers>ul>li {
    font-size: 18px;
  }

  .increase_font .follow>h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .increase_font .follow>div {
    margin-bottom: 20px;
  }

  .increase_font .follow>div>img {
    width: 40px;
    height: 40px;
  }

  .increase_font .follow>div>p {
    margin-left: 0;
  }

  .increase_font .follow>div>div {
    width: 150%;
  }

  .increase_font .follow>div>div>button {
    font-size: 15px;
  }

  .increase_font .follow>div>button:first-child {
    margin-right: 120px;
  }

  .increase_font .following>h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .increase_font .following>div {
    margin-bottom: 20px;
  }

  .increase_font .following>div>img {
    width: 40px;
    height: 40px;
  }

  .increase_font .following>div>p {
    margin-left: 0;
  }

  .increase_font .following>div>button {
    font-size: 15px;
  }

  .increase_font .recommend>div {
    margin-bottom: 20px;
  }

  .increase_font .recommend>h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .increase_font .recommend>div>img {
    width: 40px;
    height: 40px;
  }

  .increase_font .recommend>div>p {
    margin-left: 0;
  }

  .increase_font .recommend>div>button {
    font-size: 15px;
  }

  .increase_font .Publish {
    margin-top: 1%;
  }

  .increase_font .publish_headings {
    font-size: 18px;
  }

  .increase_font .publish_options>button {
    font-size: 15px;
  }

  .increase_font .write-post>h1 {
    font-size: 30px;
  }

  .increase_font .write-post-title>input {
    font-size: 30px;
  }

  .increase_font .write-post-body>textarea {
    font-size: 22px;
  }

  .increase_font .scheduler {
    margin-top: 120px;
    margin-left: 20px;
    width: 86%;
  }

  .increase_font .scheduler>h1 {
    font-size: 20px;
  }

  .increase_font .scheduler>p {
    font-size: 15px;
  }

  .increase_font .scheduler>label {
    font-size: 15px;
  }

  .increase_font .scheduler>input {
    font-size: 15px;
  }

  .increase_font .button_container {
    width: 65%;
  }

  .increase_font .button_container>button {
    font-size: 15px;
  }

  .increase_font .Login_section>img {
    width: 330px;
  }

  .increase_font .Login_content {
    padding-left: 0;
  }

  .increase_font .Login_content>h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
  }
}